.about {
  padding-top: 25px;
  padding-bottom: 25px;
}

.about__content-text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 28px;
}

/* media queries */

@media (min-width: 768px) {
  .about {
    padding-top: 39px;
    padding-bottom: 40px;
  }

  .about__content-title {
    margin-bottom: 16px;
    font-size: 48px;
  }

  .about__content-text {
    font-size: var(--default-fs);
    line-height: var(--default-lh);
  }
}

@media (min-width: 1024px) {
  .about {
    padding-top: 40px;
    /* padding-bottom: 40px; */
  }
}

@media (min-width: 1366px) {
  .about {
    padding-top: 34px;
    padding-bottom: 35px;
  }

  .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__content {
    max-width: 1080px;
  }
}
