.activities__poster {
  display: block;
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  text-align: center;
  color: var(--white);
  background-color: var(--dark-gray);
  object-fit: cover;
}

.activities__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  border-left: 1px solid var(--light-gray);
  padding: 59px 22px 45px;
  min-height: 483px;
}

.activities__venue {
  position: absolute;
  top: 18px;
  right: 17px;
  display: block;
  font-weight: var(--regular);
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: var(--normal-gray);
}

.activities__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: var(--semibold);
  font-size: 24px;
  line-height: normal;
}

.transfer-hide {
  display: none;
}

.transfer-title {
  display: none;
}

.activities__text {
  margin-bottom: 0;
  font-weight: var(--regular);
}

.activities__link {
  align-self: flex-start;
  position: relative;
  margin-top: auto;
  padding: 0 6px 3px;
  font-weight: var(--regular);
  color: var(--main-purple);
  outline: none;
  transition-property: color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease-in-out;
}

.activities__link::after {
  content: "";
  position: absolute;
  left: 7px;
  bottom: 5px;
  width: 86%;
  height: 1px;
  background-color: currentColor;
  transition: background-color var(--short) ease-in-out;
}

.activities__link:focus-visible:not(:hover) {
  color: var(--white);
  background-color: var(--main-purple);
}

.activities__link:active {
  color: var(--dark);
}

/* media queries, any-hover */

@media (min-width: 460px) {
  .activities__wrap {
    padding-right: 28px;
    padding-left: 28px;
    min-height: 383px;
  }

  .activities__venue {
    top: 14px;
    right: 28px;
  }

  .transfer-title {
    display: inline;
  }

  .transfer-paragraph {
    display: none;
  }
}

@media (min-width: 768px) {
  .activities__wrap {
    padding: 50px 33px 44px;
    min-height: 328px;
  }

  .activities__venue {
    top: 15px;
    right: 33px;
  }

  .activities__title {
    margin-bottom: 14px;
  }

  .activities__link {
    margin-left: -6px;
  }

  .activities__link::after {
    width: 87%;
  }
}

@media (min-width: 1024px) {
  .activities {
    display: flex;
    flex-direction: column;
  }

  .activities__poster {
    max-height: none;
  }

  .activities__wrap {
    flex-grow: 1;
    padding-bottom: 45px;
    min-height: 483px;
  }

  .activities__title {
    margin-bottom: 5px;
  }

  .activities__title_down {
    margin-bottom: 8px;
  }

  .transfer-title {
    display: none;
  }
}

@media (min-width: 1366px) {
  .activities__poster {
    min-height: 300px;
  }

  .activities__wrap {
    padding: 58px 49px 38px;
    min-height: 401px;
  }

  .activities__venue {
    top: 12px;
    left: 49px;
    font-weight: var(--semibold);
    line-height: normal;
    text-align: left;
  }

  .transfer-hide {
    display: inline;
  }

  .activities__title {
    margin-bottom: 9px;
  }

  .activities__title_down {
    margin-bottom: 10px;
  }

  .activities__title_lower {
    margin-bottom: 10px;
  }
}

@media (any-hover: hover) {
  .activities__link:hover:not(:active) {
    color: var(--dark-purple);
  }
}
