.btn {
  position: relative;
  display: inline-block;
  border-radius: 100px;
  padding-top: 11px;
  padding-right: 17px;
  padding-bottom: 12px;
  padding-left: 20px;
  max-width: 240px;
  max-height: 80px;
  font-family: var(--open-sans), sans-serif;
  font-weight: var(--bold);
  font-size: 12px;
  line-height: normal;
  text-align: center;
  color: var(--white);
  background: var(--main-purple);
  outline: none;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: var(--short);
  transition-timing-function: ease-in-out;
}

.btn:not(:last-child) {
  margin-bottom: 20px;
}

.btn::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 2px solid var(--light-purple);
  border-radius: inherit;
  outline: none;
  opacity: 0;
  transition: opacity var(--short) ease-in-out;
}

.btn:focus-visible:not(:hover)::after {
  opacity: 1;
}

.btn:active {
  background-color: var(--dark-purple);
  box-shadow: 0 0 0 3px var(--very-light-purple);
}

.btn_transparent {
  border: 2px solid var(--main-purple);
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 9px;
  padding-left: 33px;
  max-width: 128px;
  min-height: 40px;
  font-size: 12px;
  color: var(--main-purple);
  background-color: transparent;
  transition-property: border, color, background-color, box-shadow;
  transition-duration: var(--short);
  transition-timing-function: ease-in-out;
}

.btn.btn_transparent::after {
  top: -5px;
  right: -6px;
  bottom: -5px;
  left: -6px;
}

.btn.btn_transparent:active {
  border: 2px solid var(--dark-purple);
  color: var(--white);
}

/* media queries, any-hover */

@media (min-width: 768px) {
  .btn {
    padding-top: 22px;
    padding-right: 35px;
    padding-bottom: 24px;
    padding-left: 35px;
    max-width: 350px;
    max-height: 100px;
    font-size: 18px;
  }

  .btn:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 1366px) {
  .btn {
    padding-top: 22px;
  }
}

@media (any-hover: hover) {
  .btn:hover:not(:active) {
    box-shadow: 0 0 0 3px var(--very-light-purple);
  }

  .btn.btn_transparent:hover:not(:active) {
    color: var(--white);
    background-color: var(--main-purple);
    box-shadow: none;
  }
}
