.catalog {
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog__intro-text {
  margin-bottom: 30px;
}

.catalog__item:not(:last-child) {
  margin-bottom: 30px;
}

.catalog__item_up {
  margin-top: -1px;
}

/* media queries, any-hover */

@media (min-width: 768px) {
  .catalog {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .catalog__title {
    font-size: 48px;
    margin-bottom: 16px;
  }

  .catalog__intro-text {
    margin-bottom: 40px;
  }

  .catalog__item:not(:last-child) {
    margin-bottom: 50px;
  }

  .catalog__item_up {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .catalog__intro-text {
    margin-bottom: 39px;
  }
}
