.catalog {
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog__intro-text {
  margin-bottom: 30px;
}

.catalog__item:not(:last-child) {
  margin-bottom: 30px;
}

.catalog__item_up {
  margin-top: -1px;
}

/* media queries, any-hover */
