.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__input-wrap {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 2px;
}

.contact-form__input {
  border: 1px solid var(--dark);
  border-radius: 100px;
  padding: 9px 23px;
  max-width: 324px;
  min-height: 40px;
  outline: none;
  cursor: pointer;
  caret-color: var(--main-purple);
  transition-property: border, color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease-in-out;
}

.contact-form__input:not(:first-child) {
  margin-bottom: 10px;
}

.contact-form__input::placeholder {
  color: var(--normal-gray);
}

.contact-form__input:focus-visible {
  background-color: var(--very-light-gray);
}

.contact-form__input:active {
  color: var(--dark);
  background-color: var(--white);
}

.contact-form__input:valid:not(:placeholder-shown) {
  background-color: var(--white);
}

.contact-form__input:invalid:not(:placeholder-shown) {
  border: 1px solid var(--red);
  background-color: var(--white);
}

.contact-form__message {
  margin-bottom: 1px;
  padding-left: 24px;
  font-weight: var(--regular);
  font-size: 12px;
  line-height: normal;
  color: var(--red);
  visibility: hidden;
  transition: visibility var(--short) ease-in-out;
}

.contact-form__input:invalid:not(:placeholder-shown) ~ .contact-form__message {
  visibility: visible;
}

.contact-form__btns-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 20px 33px;
  padding-top: 18px;
}

.contact-form__btn:not(:last-child) {
  margin-bottom: 0;
}

/* media queries, any-hover */

@media (min-width: 768px) {
  .contact-form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 20px;
  }

  .contact-form__input {
    padding: 9px 23px;
    min-width: 324px;
    min-height: 50px;
  }

  .contact-form__btns-wrap {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .contact-form {
    padding-left: 1px;
  }

  .contact-form__input {
    min-width: 270px;
  }
}

@media (any-hover: hover) {
  .contact-form__input:hover:not(:active) {
    background-color: var(--very-light-gray);
  }
}
