.events {
  padding-top: 25px;
  padding-bottom: 25px;
}

.events__item:not(:last-child) {
  margin-bottom: 20px;
}

/* media queries */

@media (min-width: 768px) {
  .events {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .events__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .events__list {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
  }

  .events__item {
    display: flex;
    flex-basis: calc(100% / 3 - 27px * 2 / 3);
  }

  .events__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 1366px) {
  .events {
    padding-top: 34px;
    /* padding-bottom: 40px; */
  }

  .events__list {
    gap: 50px;
  }

  .events__item {
    flex-basis: calc(100% / 3 - 50px * 2 / 3);
  }
}
