.gallery {
  min-height: 1206px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("../images/gallery_bg_320.jpg") no-repeat center / cover;
}

.main__gallery {
  margin-top: 25px;
}

.gallery__title {
  margin-bottom: 18px;
  color: var(--white);
}

.gallery__art-selection {
  margin-bottom: 37px;
}

.gallery__art-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.gallery__art-item {
  max-width: 490px;
  min-height: 290px;
  background-color: var(--dark-gray);
}

.gallery__art-painting {
  display: block;
  text-align: center;
  object-fit: cover;
  color: var(--white);
}

/* media queries */

@media (min-width: 460px) {
  .art-selection {
    padding-left: 3px;
  }

  .second-label {
    padding-left: 25px;
  }

  .third-label {
    padding-left: 50px;
  }
}

@media (min-width: 768px) {
  .gallery {
    min-height: 567px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: url("../images/gallery_bg_768.jpg") no-repeat center / cover;
  }

  .main__gallery {
    margin-top: 31px;
  }

  .gallery__title {
    margin-bottom: 22px;
    font-size: 48px;
  }

  .art-selection,
  .second-label,
  .third-label {
    padding-left: 0;
  }

  .gallery__art-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 34px;
  }

  .gallery__art-item {
    flex-basis: calc(100% / 3 - 34px * 2 / 3);
    min-height: 200px;
  }
}

@media (min-width: 1024px) {
  .gallery {
    background: url("../images/gallery_bg_1024.jpg") no-repeat center / cover;
  }

  .main__gallery {
    margin-top: 30px;
  }

  .gallery__art-list {
    gap: 50px;
  }

  .gallery__art-item {
    flex-basis: calc(100% / 3 - 50px * 2 / 3);
    min-height: 275px;
  }
}
