html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  color: var(--white);
  background-color: var(--main-purple);
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.page {
  min-width: var(--page-min-width);
  font-family: var(--open-sans), sans-serif;
  font-size: var(--default-fs);
  line-height: var(--default-lh);
  /* height: auto; */
  height: 10000px;
  color: var(--dark);
  background-color: var(--white);
}

.page__title {
  margin-bottom: 20px;
  font-weight: var(--bold);
  text-align: center;
}

.title-color {
  color: var(--main-purple);
  text-shadow: 0 1px 10px var(--normal-gray);
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  max-width: var(--container-max-width);
}

.section-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: var(--regular);
  font-size: 28px;
  line-height: normal;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-btn {
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
}

.text {
  margin-top: 0;
}

.text:not(:last-of-type) {
  margin-bottom: 0;
  padding-bottom: 12px;
}

.text:not(:first-of-type) {
  padding-bottom: 12px;
}

/* media queries */

@media (min-width: 768px) {
  .section-title {
    margin-bottom: 16px;
    font-size: 48px;
  }
}
