.hero {
  position: relative;
  z-index: 1;
  margin-top: -78px;
  padding: 128px 13px 50px;
  min-height: 388px;
  background-color: var(--dark-gray);
  background: url("../images/hero_bg_320.jpg") no-repeat center / cover;
}

.main__hero {
  margin-bottom: 25px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__content-title {
  margin-bottom: 11px;
  font-weight: var(--bold);
  font-size: 32px;
  line-height: 28px;
  text-align: center;
  color: var(--white);
}

.hero__content-text {
  margin-bottom: 39px;
  max-width: 248px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--white);
}

/* media queries, any-hover */

@media (min-width: 460px) {
  .hero {
    min-height: 360px;
  }

  .hero__content {
    align-items: flex-start;
  }

  .hero__content-title {
    text-align: left;
  }

  .hero__content-text {
    margin-left: 0;
    max-width: 500px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .hero {
    margin-top: 0;
    padding: 87px 0 86px;
    min-height: 621px;
    background: url("../images/hero_bg_768.jpg") no-repeat center / cover;
  }

  .hero__content-title {
    margin-bottom: 20px;
    font-size: 72px;
    line-height: 68px;
  }

  .hero__content-text {
    margin-bottom: 132px;
    max-width: 535px;
    font-weight: var(--bold);
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding: 101px 0 101px;
    background: url("../images/hero_bg_1024.jpg") no-repeat center / cover;
  }

  .hero__content-title {
    margin-bottom: 20px;
    max-width: 580px;
  }

  .hero__content-text {
    margin-bottom: 133px;
    max-width: 660px;
  }
}

@media (min-width: 1366px) {
  .hero {
    margin-top: -101px;
    padding: 247px 0 106px;
    min-height: 801px;
    background: url("../images/hero_bg_1920.jpg") no-repeat center / cover;
  }

  .hero__content-text {
    margin-bottom: 92px;
    max-width: 555px;
  }
}
