.partners {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.partners__logo {
  display: flex;
  outline: none;
  transition: box-shadow var(--short) ease-in-out;
}

.partners__logo:focus-visible {
  box-shadow: 0 0 0 1px var(--main-purple);
}

.partners__logo:active {
  box-shadow: 0 0 0 1px var(--dark-purple);
}

.partners__logo-img {
  display: block;
  flex-grow: 1;
}

/* media queries */

@media (min-width: 460px) {
  .partners {
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 12px;
  }
}

@media (min-width: 768px) {
  .partners {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 35px;
  }

  .partners__logo-img {
    flex-grow: 0;
    width: 316px;
    height: 122px;
  }

  .first__partner {
    content: url("../images/Freelands_logo_768.svg");
  }

  .second__partner {
    content: url("../images/Institute_logo_768.svg");
  }
}

@media (min-width: 1024px) {
  .partners {
    gap: 27px;
  }

  .partners__logo-img {
    width: 329px;
  }

  .first__partner {
    content: url("../images/Freelands_logo_1024.svg");
  }

  .second__partner {
    content: url("../images/Institute_logo_1024.svg");
  }
}

@media (min-width: 1366px) {
  .partners {
    gap: 34px;
  }
}

@media (any-hover: hover) {
  .partners__logo:hover:not(:active) {
    box-shadow: 0 0 0 1px var(--very-light-purple);
  }
}
