.showroom {
  padding-top: 25px;
  padding-bottom: 25px;
}

.showroom__caption {
  margin-bottom: -4px;
}

.showroom__caption-title {
  margin-bottom: -2px;
  font-weight: var(--semibold);
  font-size: 18px;
  line-height: normal;
}

.showroom__caption-address {
  font-weight: var(--regular);
  font-size: 14px;
  line-height: normal;
}

.showroom__form {
  margin-bottom: 20px;
}

/* media queries, any-hover */

@media (min-width: 768px) {
  .showroom {
    padding-top: 19px;
    padding-bottom: 23px;
  }

  .showroom__caption {
    margin-bottom: 6px;
  }

  .showroom__caption-title {
    margin-bottom: 3px;
    font-size: 24px;
    line-height: var(--default-lh);
  }

  .showroom__form {
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .showroom__form {
    margin-bottom: 28px;
  }
}

@media (min-width: 1366px) {
  .showroom {
    border-bottom: 1px solid var(--light-gray);
    padding-top: 21px;
    padding-bottom: 36px;
  }

  .main__showroom {
    margin-bottom: 35px;
  }

  .showroom__data-wrap {
    display: flex;
    justify-content: space-between;
  }

  .showroom__caption {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .showroom__caption-title {
    margin-bottom: 0;
  }

  .showroom__caption-address {
    font-size: 16px;
    line-height: var(--default-lh);
  }

  .showroom__form {
    margin-top: -11px;
    margin-bottom: 0;
  }
}
