.about {
  padding-top: 50px;
  padding-bottom: 41px;
}

.about__text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 28px;
}

/* media queries */

@media (min-width: 768px) {
  .about {
    padding-top: 79px;
    padding-bottom: 71px;
  }

  .about__text {
    font-size: var(--default-fs);
    line-height: var(--default-lh);
  }
}

@media (min-width: 1024px) {
  .about {
    padding-top: 80px;
    padding-bottom: 70px;
  }
}

@media (min-width: 1366px) {
  .about {
    padding-top: 69px;
    padding-bottom: 58px;
  }

  .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__content-wrap {
    max-width: 1080px;
  }
}
