.showroom {
  padding-top: 25px;
  padding-bottom: 50px;
}

.showroom__caption {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.showroom__caption-title {
  margin-bottom: 5px;
  font-weight: var(--semibold);
  font-size: 18px;
  line-height: normal;
}

.showroom__caption-title:not(:last-of-type) {
  margin-bottom: 0;
}

.showroom__caption-address {
  font-weight: var(--regular);
  font-size: 14px;
  line-height: normal;
}

.showroom__form {
  margin-bottom: 20px;
}

/* media queries, any-hover */

@media (min-width: 460px) {
  .showroom {
    border-top: 1px solid var(--light-gray);
  }
}

@media (min-width: 768px) {
  .showroom {
    padding-top: 42px;
    padding-bottom: 43px;
  }

  .showroom__caption {
    margin-bottom: 12px;
  }

  .showroom__caption-title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: var(--default-lh);
  }

  .showroom__form {
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .showroom__form {
    margin-bottom: 28px;
  }
}

@media (min-width: 1366px) {
  .showroom {
    border-bottom: 1px solid var(--light-gray);
    padding-top: 44px;
    padding-bottom: 29px;
  }

  .main__showroom {
    margin-bottom: 70px;
  }

  .showroom__data-wrap {
    display: flex;
    justify-content: space-between;
  }

  .showroom__caption {
    margin-bottom: 0;
  }

  .showroom__caption-title {
    margin-bottom: 5px;
  }

  .showroom__caption-address {
    font-size: 16px;
  }

  .showroom__form {
    margin-top: -11px;
    margin-bottom: 0;
    padding-bottom: 19px;
  }
}
