@import url("fonts.css");
@import url("variables.css");
@import url("global.css");
@import url("header.css");
@import url("hero.css");
@import url("benefits.css");
@import url("teachers.css");
@import url("courses.css");
@import url("footer.css");
@import url("company.css");
