html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 1500px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  padding: 0 15px;
  width: 1200px;
}

.view {
  padding: 30px;
  min-width: 535px;
  min-height: 800px;
  outline: 1px solid lightgrey;
}

.desc {
  margin-left: 10px;
  font-weight: 400;
  font-size: 22px;
  text-shadow: 0 1px 10px lightslategray;
}

.child {
  display: inline-block;
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: lightgreen;
}

/* combinatorial selectors / signs.. for ex.: */
/* sign " , " comma, as an enumeration */
.child-1,
.child-2 {
  background-color: lightyellow;
}

/* sign "space" (selection of all elements/with .child) */
.parent-2 .child {
  background-color: lightblue;
}

/* sign " > " more.. kinship */
.parent-3 > .child {
  background-color: lightpink;
}

/* sign " ~ " tilde.. all subsequent/neighboring elements */
.parent-4 .child ~ .child {
  background-color: lightgray;
}

/* sign " + " plus.. only the next element */
.parent-5 .child + .child-14,
.child-15 {
  background-color: lightsalmon;
}

.title {
  margin-left: 10px;
  padding: 20px 0 0 0;
  font-size: 25px;
  text-align: center;
  color: grey;
}

.wrapper-links {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  margin: 10px;
  padding-left: 10px;
  width: auto;
  height: 50px;
  font-size: 20px;
  text-decoration: none;
}

/* selectors by attribute [conditions] / for ex.: */
/* condition: a[href] / availability of the attribute.. in general */
a[href] {
  background-color: lightyellow;
}

/* condition: a[href="https://www.google.com/"] attribute.. specific value/path */
a[href="https://www.google.com/"]
{
  background-color: lightcyan;
}

/* condition: a[href*="login"] attribute and the indication " * ", stylization by a certain word / by a certain line */
a[href*="login"] {
  background-color: lightpink;
}

/* condition: a[href^="http://"] .." ^ ", styling at the corresponding beginning of the address/line */
a[href^="http://"]
{
  background-color: lightgray;
}

/* condition: a[href$=".pdf"] .." $ ", definition of extension, stylization by ending */
a[href$=".pdf"] {
  background-color: lightsalmon;
}
