.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--black);
}

.footer__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px 50px;
}

.footer__logo {
  flex-shrink: 0;
  outline: none;
}

.footer__logo-img {
  display: block;
}

.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.footer__socials-link {
  display: flex;
  align-items: flex-start;
  width: 50px;
  height: 50px;
  color: var(--light-gray);
  outline: none;
  transition-property: color;
  transition-duration: var(--short);
  transition-timing-function: ease-in-out;
}

.footer__socials-link:focus-visible:not(:hover) {
  color: var(--white);
}

.footer__socials-link:active {
  color: var(--main-purple);
}

/* media queries, any-hover */

@media (min-width: 460px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__logo-img {
    margin-left: 2px;
    width: 173px;
    height: 40px;
  }

  .footer__socials-link {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1366px) {
  .footer {
    padding-top: 47px;
    padding-bottom: 48px;
  }

  .page__footer {
    margin-top: 0;
  }

  .footer__logo-img {
    margin-top: 1px;
    margin-left: 0;
  }

  .footer__socials-link {
    width: 45px;
    height: 45px;
  }
}

@media (any-hover: hover) {
  .footer__socials-link:hover:not(:active) {
    color: var(--white);
  }
}
