:root {
  /* sizes */
  --page-min-width: 320px;
  --container-max-width: 1600px;
  --container-padding: 15px;

  /* fonts */
  --open-sans: "Open Sans";
  --regular: 400;
  --semibold: 600;
  --bold: 700;
  --default-fs: 16px;
  --default-lh: 32px;

  /* colors */
  --black: #000;
  --dark: #333;
  --red: #d11616;
  --white: #fff;
  --main-purple: #9d5cd0;
  --dark-purple: #7943a4;
  --light-purple: #c283f3;
  --very-light-purple: #d1a9f0;
  --dark-gray: #666;
  --normal-gray: #999;
  --light-gray: #cacaca;
  --very-light-gray: #ececec;

  /* transitions */
  --short: 0.3s;
}

/* media queries */

@media (min-width: 460px) {
  :root {
    --container-padding: 30px;
  }
}

@media (min-width: 768px) {
  :root {
    --container-max-width: 1700px;
    --container-padding: 50px;
  }
}
