@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratRegular.woff2");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/MontserratRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratMedium.woff2");
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/MontserratMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratSemiBold.woff2");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratBold.woff2");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/MontserratBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratExtraBold.woff2");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../fonts/MontserratExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* variables */

:root {
  --orange-light: #ffb84d;
  --orange-normal: #ff9900;
  --orange-dark: #e1670e;
  --gray-light: #666;
  --gray-normal: #414141;
  --black-color: #000;
  --white-color: #fff;
}

/* glob */

.flex {
  display: flex;
}

.page {
  min-width: 320px;
  height: 5750px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--white-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
}

.btn-reset {
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.btn {
  border-radius: 16px;
  padding: 20px 38px;
  min-width: 175px;
  min-height: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--orange-normal);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn:focus {
  background-color: var(--orange-light);
}

.btn:hover {
  background-color: var(--orange-light);
}

.btn:active {
  background-color: var(--orange-dark);
}

.btn_transparent {
  background-color: transparent;
}

.section-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--black-color);
}

/* .hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
} */

/* header */

.header {
  border-radius: 0px 0px 32px 32px;
  padding: 14px 0 14px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  background: var(--white-color);
}

.page__header {
  margin-bottom: 46px;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 261px;
}

.nav__list {
  align-items: center;
  column-gap: 85px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
  transition: color 0.2s ease-in-out;
}

.nav__link:focus {
  outline: 2px solid var(--orange-normal);
  outline-offset: 5px;
}

.nav__link:active {
  color: var(--orange-dark);
  outline: none;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--orange-normal);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:focus::after {
  opacity: 0;
}

.nav__link:active::after {
  background-color: var(--orange-dark);
  opacity: 1;
  outline: none;
}

.search {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 24px;
  height: 24px;
}

.search:focus {
  outline: 2px solid var(--orange-normal);
  outline-offset: 5px;
}

.search:focus:active {
  outline: none;
}

.search__svg {
  fill: var(--black-color);
  transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.search__svg_state {
  fill: transparent;
  stroke: var(--black-color);
}

.search__svg_state:hover {
  fill: transparent;
  stroke: var(--orange-normal);
}

.search:focus .search__svg_state:hover {
  fill: transparent;
  stroke: var(--black-color);
}

.search:focus .search__svg_state:active {
  fill: transparent;
  stroke: var(--orange-dark);
}

/* main */

/* hero / sec. #1 */

.main__hero {
  margin-bottom: 51px;
}

.intro {
  border-radius: 32px;
  padding: 100px 80px 30px 80px;
  min-height: 620px;
  overflow: hidden;
  background: url("../img/hero_bg_1.jpg") no-repeat center / cover;
}

.intro__content {
  flex-direction: column;
  align-items: self-start;
  margin-bottom: 55px;
  width: 837px;
  min-height: 420px;
}

.intro__title {
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white-color);
}

.intro__desc {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white-color);
}

.intro__content .btn {
  padding: 25px 39px;
  min-width: 280px;
  min-height: 78px;
  font-size: 23px;
  line-height: 28px;
}

.intro__slider {
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.slider__input {
  width: 15px;
  height: 15px;
}

/* about-us / sec. #2 */

.main__about-us {
  margin-bottom: 101px;
}

.about-us__title {
  margin-bottom: 20px;
}

.about-us__desc {
  margin-bottom: 49px;
  max-width: 1235px;
  min-height: 192px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* text-align: justify; */
  color: var(--black-color);
}

.more {
  column-gap: 32px;
  width: 100%;
}

.more__left {
  align-items: flex-end;
  border-radius: 32px;
  width: 868px;
  min-height: 622px;
  overflow: hidden;
  background: url("../img/about_us_left_bg.jpg") no-repeat center / cover;
}

.info {
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  width: 100%;
  min-height: 196px;
  background: rgba(0, 0, 0, 0.5);
}

.more__left-info {
  padding: 50px 52px 50px 51px;
}

.info__text {
  width: 433px;
  min-height: 96px;
  font-weight: 700;
  font-size: 16px;
  line-height: 200%;
  color: var(--white-color);
}

.more__left-info .btn {
  padding: 17px 36px;
  min-width: 170px;
  min-height: 53px;
  outline: 3px solid var(--orange-normal);
}

.more__left-info .btn:focus {
  outline: none;
}

.more__left-info .btn:hover {
  outline: none;
}

.more__left-info .btn:active {
  outline: none;
}

.more__right {
  width: 870px;
  min-height: 622px;
}

.benefits-list {
  flex-direction: column;
  row-gap: 27px;
}

.benefits-list__item {
  justify-content: space-between;
  border: 1px solid #cacaca;
  border-radius: 32px;
  /* padding: 65px 118px 65px 60px; */
  width: 100%;
  min-height: 295px;
}

.benefits-1 {
  padding: 64px 117px 66px 59px;
}

.benefits-1::before {
  content: "";
  flex-shrink: 0;
  width: 190px;
  height: 165px;
  background: url("../img/about_us_right_bg_1.svg") no-repeat center / cover;
}

.benefits-list__item-group {
  flex-direction: column;
  row-gap: 8px;
  width: 452px;
  min-height: 165px;
}

.benefits-list__item-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--black-color);
}

.benefits-list__item-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black-color);
}

.benefits-2 {
  padding: 67px 117px 63px 59px;
}

.benefits-2::before {
  content: "";
  flex-shrink: 0;
  width: 190px;
  height: 165px;
  background: url("../img/about_us_right_bg_2.svg") no-repeat center / cover;
}

/* workflow / sec. #3 */

.main__workflow {
  margin-bottom: 111px;
}

.workflow__title {
  margin-bottom: 50px;
}

.steps-list {
  column-gap: 86px;
}

.workflow__steps-list {
  margin-bottom: 45px;
}

.steps-list__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
  transition: color 0.2s ease-in-out;
}

.steps-list__link:focus {
  outline: 2px solid var(--orange-normal);
  outline-offset: 5px;
}

.steps-list__link:hover {
  color: var(--orange-normal);
}

.steps-list__link:focus:hover {
  color: var(--black-color);
}

.steps-list__link:focus:active {
  color: var(--orange-dark);
  outline: none;
}

.steps-list__link_selected {
  color: var(--orange-dark);
}

.steps-list__link_selected:focus {
  color: var(--orange-dark);
  outline: none;
}

.steps-list__link_selected:hover {
  color: var(--orange-dark);
}

.steps-list__link_selected:focus:hover {
  color: var(--orange-dark);
}

.steps-desc {
  justify-content: space-between;
}

.left-part {
  width: 758px;
  min-height: 470px;
}

.left-part__subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--black-color);
}

.left-part__text {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black-color);
}

.left-part__btns {
  column-gap: 33px;
}

.btn_black {
  min-width: 147px;
  font-weight: 400;
  color: var(--black-color);
  outline: 1px solid var(--black-color);
}

.btn_black:focus {
  color: var(--white-color);
  background-color: var(--gray-light);
  outline: none;
}

.btn_black:hover {
  color: var(--white-color);
  background-color: var(--gray-light);
  outline: none;
}

.btn_black:active {
  color: var(--white-color);
  background-color: var(--black-color);
  outline: none;
}

.right-part {
  width: 870px;
  min-height: 460px;
  overflow: hidden;
}

.right-part__image {
  align-self: flex-end;
  border-radius: 32px;
  /* object-fit: cover; */
}

/* questions / sec. #4 */

.main__questions {
  margin-bottom: 100px;
}

.questions__title {
  margin-bottom: 32px;
}

.toggle {
  position: relative;
}

.toggle__item {
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  min-height: 112px;
}

.toggle__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--black-color);
}

.toggle__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.toggle__element {
  width: 50px;
  height: 50px;
  background: url("../img/questions_element.svg") no-repeat center / 50px;
}

/* состояния элемента/круга с плюсом.. буду менять через подгрузку "нового" bg */
