html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px; /* Вот/так специально: mim-width, т.е. если с телефонов/заход, то/будет в уменьшенном размере, с возможностью приближения */
  font-family: "font", sans-serif;
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
}

.section-desc {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/* header */

.header {
  padding: 36px 0;
}

.header-container {
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-list__item:not(:last-child) {
  margin-right: 52px;
}
