/* styles for desktop screens */

@media (max-width: 1600px) {
  /* glob */

  .dispaly-none {
    display: none;
  }

  /* header */

  .header__nav {
    margin-right: 85px;
  }

  /* main */

  /* hero / sec. #1 */

  /* about-us / sec. #2 */

  .info {
    padding-left: 77px;
  }

  .benefits-list__item {
    flex-wrap: wrap;
  }

  .benefits-1 {
    padding-right: 39px;
  }

  .benefits-2 {
    padding-right: 39px;
  }

  /* workflow / sec. #3 */

  .left-part {
    max-width: 437px;
  }

  .steps-desc__left-part {
    margin-right: 50px;
  }

  .right-part {
    flex-shrink: 1;
  }

  /* questions / sec. #4 */

  /* footer */

  .footer__left-group {
    margin-right: 33px;
  }

  .footer__center-group {
    margin-right: 33px;
  }

  .footer__right-text {
    max-height: 320px;
    height: auto;
    overflow-y: auto;
  }
}

@media (max-width: 1366px) {
  /* header */

  .nav__list {
    column-gap: 35px;
  }

  /* main */

  /* hero / sec. #1 */

  /* about-us / sec. #2 */

  /* workflow / sec. #3 */

  /* questions / sec. #4 */

  /* footer */
}

/* styles for mobile screens */

@media (max-width: 1024px) {
  /* variables */
  :root {
    --gap-left: 0;
  }

  /* header */

  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .page__header {
    margin-bottom: 20px;
  }

  .header__container {
    justify-content: space-between;
  }

  /* !Burger */

  .burger {
    position: relative;
    display: block;
    left: 0px;
    width: 30px;
    height: 23px;
    color: var(--black-color);
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 0px;
  }

  .burger__line:nth-child(2) {
    top: 49%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger__line:nth-child(3) {
    bottom: -1px;
    transform: translateX(-50%) translateY(-50%);
  }

  .header__logo {
    flex-shrink: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    width: 150px;
    height: 48px;
  }

  .header__nav {
    display: none;
  }

  .header__search {
    margin-right: 0;
  }

  /* main */

  /* hero / sec. #1 */

  .hero {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .intro {
    padding: 160px 77px 30px 77px;
    min-height: 668px;
  }

  .intro__content {
    margin-bottom: 115px;
    max-width: 770px;
    min-height: 348px;
  }

  .intro__title {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    color: var(--white-color);
  }

  .intro__desc {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--white-color);
  }

  /* about-us / sec. #2 */

  .about-us {
    padding-top: 15px;
    padding-bottom: 40px;
  }

  .about-us__desc {
    margin-bottom: 60px;
  }

  .more {
    flex-wrap: wrap;
  }

  .more__left {
    width: 100%;
    min-height: 640px;
  }

  .info {
    padding-left: 50px;
  }

  .more__right {
    width: 100%;
  }

  .benefits-list {
    row-gap: 32px;
    max-width: 100%;
  }

  .benefits-list__item {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .benefits-1 {
    padding: 65px 153px 64px 77px;
  }

  .benefits-2 {
    padding: 64px 153px 64px 77px;
  }

  /* workflow / sec. #3 */

  .workflow {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .workflow__steps-list {
    margin-bottom: 50px;
  }

  .steps-desc__left-part {
    margin-right: 50px;
  }

  .left-part__text {
    margin-bottom: 25px;
    max-width: 437px;
  }

  .right-part {
    width: 437px;
    min-height: 689px;
  }

  .right-part__image {
    height: calc((100% * 1) - 11px);
  }

  /* questions / sec. #4 */

  .questions {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .accordion__item-btn {
    padding-left: 0;
    padding-bottom: 31px;
    font-size: 20px;
    line-height: 160%;
  }

  .item-btn-1 {
    padding-bottom: 40px;
  }

  .item-btn-2 {
    padding-top: 30px;
    padding-bottom: 31px;
  }

  .move-word {
    margin-right: 54px;
  }

  .item-btn-3 {
    padding-top: 38px;
    padding-bottom: 39px;
  }

  .item-btn-4 {
    padding-top: 30px;
    padding-bottom: 31px;
  }

  .item-btn-5 {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .accordion__item-btn::after {
    margin-right: 0;
  }

  /* footer */

  .footer__container {
    justify-content: space-between;
  }

  .footer__left-group {
    margin-right: 0;
  }

  .center-group {
    max-width: 541px;
  }

  .footer__center-group {
    margin-right: 0;
    margin-left: 0;
  }

  .footer__right-text {
    display: none;
  }

  .form .btn {
    padding: 18px 33px;
    min-width: 244px;
  }
}

@media (max-width: 992px) {
  /* variables */
  :root {
    --new-radius: 24px;
  }

  /* header */

  .header {
    padding-top: 11px;
    padding-bottom: 10px;
  }

  /* !Burger */

  .burger__line:nth-child(3) {
    bottom: 0px;
    transform: translateX(-50%) translateY(-39%);
  }

  /* main */

  /* hero / sec. #1 */

  /* .hero {
    padding-top: 20px;
    padding-bottom: 20px;
  } */

  .intro {
    border-radius: var(--new-radius);
    padding: 160px 40px 30px 40px;
    min-height: 662px;
  }

  .intro__content {
    margin-bottom: 115px;
    max-width: 588px;
    min-height: 342px;
  }

  .intro__title {
    margin-bottom: 16px;
    font-size: 50px;
    line-height: 61px;
    color: var(--white-color);
  }

  .intro__desc {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
    color: var(--white-color);
  }

  /* about-us / sec. #2 */

  /* .about-us {
    padding-top: 15px;
    padding-bottom: 40px;
  } */

  .about-us__desc {
    margin-bottom: 55px;
  }

  .more__left {
    border-radius: var(--new-radius);
    min-height: 650px;
  }

  .info {
    border-radius: var(--new-radius);
    padding: 34px 40px 34px 40px;
  }

  .info__text {
    width: calc(366px + (533 - 366) * ((100vw - 768px) / (992 - 768)));
  }

  .more__right {
    min-height: 502px;
  }

  .benefits-list__item {
    align-items: center;
    border-radius: var(--new-radius);
    min-height: 235px;
  }

  .benefits-1 {
    padding: 34px 45px 33px 40px;
    padding-left: calc(40px + (80 - 40) * ((100vw - 768px) / (992 - 768)));
  }

  .benefits-1::before {
    margin-right: calc(15px + (50 - 15) * ((100vw - 768px) / (992 - 768)));
    margin-bottom: 2px;
    width: calc(114px + (190 - 114) * ((100vw - 768px) / (992 - 768)));
    height: calc(99px + (165 - 99) * ((100vw - 768px) / (992 - 768)));
  }

  .benefits-2 {
    padding: 34px 45px 33px 40px;
    padding-left: calc(40px + (80 - 40) * ((100vw - 768px) / (992 - 768)));
  }

  .benefits-2::before {
    margin-right: calc(15px + (50 - 15) * ((100vw - 768px) / (992 - 768)));
    margin-bottom: 1px;
    width: calc(114px + (190 - 114) * ((100vw - 768px) / (992 - 768)));
    height: calc(99px + (165 - 99) * ((100vw - 768px) / (992 - 768)));
  }

  /* workflow / sec. #3 */

  .workflow {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .steps-list {
    justify-content: space-between;
    column-gap: 0;
    padding-left: calc(0px + (50 - 0) * ((100vw - 768px) / (992 - 768)));
    padding-right: calc(0px + (50 - 0) * ((100vw - 768px) / (992 - 768)));
  }

  .workflow__steps-list {
    margin-bottom: 49px;
  }

  .steps-desc {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .left-part {
    max-width: calc(667px + (892 - 667) * ((100vw - 768px) / (992 - 768)));
    min-height: calc(369px + (381 - 369) * ((100vw - 768px) / (992 - 768)));
  }

  .steps-desc__left-part {
    margin-right: 0;
  }

  .left-part__text {
    margin-bottom: 25px;
    max-width: calc(667px + (892 - 667) * ((100vw - 768px) / (992 - 768)));
  }

  .right-part {
    width: calc(668px + (892 - 668) * ((100vw - 768px) / (992 - 768)));
    min-height: calc(284px + (384 - 284) * ((100vw - 768px) / (992 - 768)));
  }

  .steps-desc__right-part {
    margin-bottom: 38px;
  }

  .right-part__image {
    align-self: flex-start;
    border-radius: var(--new-radius);
    width: 100%;
    height: calc(284px + (384 - 284) * ((100vw - 768px) / (992 - 768)));
  }

  /* questions / sec. #4 */

  .questions {
    padding-top: 24px;
    padding-bottom: 111px;
  }

  .questions__title {
    margin-bottom: 33px;
  }

  .accordion__item-btn {
    padding-top: 30px;
    padding-bottom: 30px;
    max-height: 126px;
  }

  .item-btn-1 {
    padding-top: 38px;
    padding-bottom: 40px;
  }

  .item-btn-2 {
    padding-bottom: 31px;
  }

  .move-word {
    margin-right: 54px;
  }

  .item-btn-3 {
    padding-bottom: 31px;
  }

  .item-btn-4 {
    padding-top: 29px;
  }

  .item-btn-5 {
    padding-top: 30px;
    padding-bottom: 31px;
  }

  .accordion__item-btn::after {
    margin-right: -1px;
  }

  .item-btn-3::after {
    top: 45%;
  }

  .item-btn-5::after {
    top: 46%;
  }

  /* footer */

  .footer {
    padding-bottom: 0;
    min-height: 792px;
  }

  .footer__container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .left-group {
    min-height: 148px;
  }

  .left-group__nav {
    display: none;
  }

  .left-group__logo {
    margin-bottom: 10px;
  }

  .center-group {
    width: calc(570px + (675 - 570) * ((100vw - 768px) / (992 - 768)));
    max-width: calc(541px + (675 - 541) * ((100vw - 768px) / (992 - 768)));
  }

  .center-group__title {
    padding-left: calc(0px + (210 - 0) * ((100vw - 768px) / (992 - 768)));
  }

  .center-group__form {
    margin-bottom: 50px;
    padding-left: calc(0px + (210 - 0) * ((100vw - 768px) / (992 - 768)));
  }
}

@media (max-width: 768px) {
  /* glob */
  .container {
    padding-right: calc(35px + (50 - 35) * ((100vw - 576px) / (768 - 576)));
    padding-left: calc(35px + (50 - 35) * ((100vw - 576px) / (768 - 576)));
  }

  /* main */

  /* hero / sec. #1 */

  .intro {
    /* padding: 160px 40px 30px 40px; */
    padding-top: calc(120px + (160 - 120) * ((100vw - 576px) / (768 - 576)));
    padding-right: calc(30px + (40 - 30) * ((100vw - 576px) / (768 - 576)));
    padding-bottom: calc(22px + (30 - 22) * ((100vw - 576px) / (768 - 576)));
    padding-left: calc(30px + (40 - 30) * ((100vw - 576px) / (768 - 576)));
    /* min-height: 662px; */
    min-height: calc(532px + (662 - 532) * ((100vw - 576px) / (768 - 576)));
  }

  .intro__content {
    /* margin-bottom: 115px; */
    margin-bottom: calc(74px + (115 - 74) * ((100vw - 576px) / (768 - 576)));
    /* max-width: 588px; */
    max-width: calc(485px + (588 - 485) * ((100vw - 576px) / (768 - 576)));
    /* min-height: 342px; */
    min-height: calc(240px + (342 - 240) * ((100vw - 576px) / (768 - 576)));
  }

  .intro__title {
    font-size: calc(35px + (50 - 35) * ((100vw - 576px) / (768 - 576)));
    line-height: calc(40px + (61 - 40) * ((100vw - 576px) / (768 - 576)));
  }

  .intro__desc {
    margin-bottom: calc(45px + (60 - 45) * ((100vw - 576px) / (768 - 576)));
    font-size: calc(16px + (18 - 16) * ((100vw - 576px) / (768 - 576)));
    line-height: calc(24px + (22 - 24) * ((100vw - 576px) / (768 - 576)));
  }

  /* about-us / sec. #2 */

  .about-us {
    padding-bottom: calc(20px + (40 - 20) * ((100vw - 576px) / (768 - 576)));
  }

  .about-us__desc {
    margin-bottom: calc(35px + (55 - 35) * ((100vw - 576px) / (768 - 576)));
  }

  .more__left {
    /* min-width: 535px; */
    min-width: calc(506px + (535 - 506) * ((100vw - 576px) / (768 - 576)));
    /* min-height: 650px; */
    min-height: calc(500px + (650 - 500) * ((100vw - 576px) / (768 - 576)));
  }

  .info {
    flex-wrap: wrap;
    /* padding: 34px 40px 34px 40px; */
    padding-right: calc(30px + (40 - 30) * ((100vw - 576px) / (768 - 576)));
    padding-left: calc(30px + (40 - 30) * ((100vw - 576px) / (768 - 576)));
  }

  .info__text {
    /* width: 366px; */
    width: calc(466px + (366 - 466) * ((100vw - 576px) / (768 - 576)));
  }

  .benefits-list__item {
    flex-wrap: wrap;
    padding-left: 40px;
  }

  .benefits-1::before {
    width: 114px;
    height: 99px;
  }

  .benefits-2::before {
    width: 114px;
    height: 99px;
  }

  .benefits-list__item-group {
    /* max-width: 452px; */
    max-width: calc(695px + (452 - 695) * ((100vw - 576px) / (768 - 576)));
  }

  /* workflow / sec. #3 */

  .workflow {
    padding-top: calc(20px + (40 - 20) * ((100vw - 576px) / (768 - 576)));
    /* padding-bottom: 15px; */
  }

  .workflow__title {
    margin-bottom: calc(35px + (50 - 35) * ((100vw - 576px) / (768 - 576)));
  }

  .steps-list {
    padding-left: calc(0px + (50 - 0) * ((100vw - 768px) / (992 - 768)));
    padding-right: calc(0px + (50 - 0) * ((100vw - 768px) / (992 - 768)));
  }

  .workflow__steps-list {
    margin-bottom: calc(35px + (49 - 35) * ((100vw - 576px) / (768 - 576)));
  }

  .steps-desc__right-part {
    margin-bottom: calc(28px + (38 - 28) * ((100vw - 576px) / (768 - 576)));
  }

  .left-part {
    max-width: calc(506px + (667 - 506) * ((100vw - 576px) / (768 - 576)));
  }

  .left-part__text {
    max-width: calc(506px + (667 - 506) * ((100vw - 576px) / (768 - 576)));
  }

  .right-part {
    width: calc(506px + (668 - 506) * ((100vw - 576px) / (768 - 576)));
    min-height: calc(235px + (284 - 235) * ((100vw - 576px) / (768 - 576)));
  }

  .right-part__image {
    height: calc(235px + (284 - 235) * ((100vw - 576px) / (768 - 576)));
  }

  /* questions / sec. #4 */

  .questions {
    /* padding-bottom: 111px; */
    padding-bottom: calc(80px + (111 - 80) * ((100vw - 576px) / (768 - 576)));
  }

  .questions__title {
    /* margin-bottom: 33px;
    font-size: 48px;
    line-height: 59px; */
    margin-bottom: calc(25px + (33 - 25) * ((100vw - 576px) / (768 - 576)));
    font-size: calc(34px + (48 - 34) * ((100vw - 576px) / (768 - 576)));
    line-height: calc(40px + (59 - 40) * ((100vw - 576px) / (768 - 576)));
  }

  .accordion__item-btn {
    /* max-height: 126px; */
    max-height: calc(155px + (126 - 155) * ((100vw - 576px) / (768 - 576)));
  }

  .item-btn-1 {
    /* padding-bottom: 40px; */
    padding-bottom: calc(30px + (40 - 30) * ((100vw - 576px) / (768 - 576)));
  }
}

@media (max-width: 576px) {
  /* glob */
  .container {
    padding-right: calc(15px + (35 - 15) * ((100vw - 320px) / (576 - 320)));
    padding-left: calc(15px + (35 - 15) * ((100vw - 320px) / (576 - 320)));
  }

  .section-title {
    /* font-size: 48px;
    line-height: 59px; */
    font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (576 - 320)));
    line-height: calc(29px + (59 - 29) * ((100vw - 320px) / (576 - 320)));
  }

  /* header */

  .header {
    /* padding-top: 11px;
    padding-bottom: 10px; */
    padding-top: calc(17px + (11 - 17) * ((100vw - 320px) / (576 - 320)));
    padding-bottom: calc(17px + (10 - 17) * ((100vw - 320px) / (576 - 320)));
  }

  .page__header {
    /* margin-bottom: 20px; */
    margin-bottom: calc(15px + (20 - 15) * ((100vw - 320px) / (576 - 320)));
  }

  /* !Burger */

  .burger__line:nth-child(3) {
    bottom: 0px;
    transform: translateX(-50%) translateY(-19%);
  }

  .header__logo {
    /* width: 150px;
    height: 48px; */
    width: calc(110px + (150 - 110) * ((100vw - 320px) / (576 - 320)));
    height: calc(35px + (48 - 35) * ((100vw - 320px) / (576 - 320)));
  }

  /* main */

  /* hero / sec. #1 */

  .hero {
    /* padding-top: 20px; */
    padding-top: calc(15px + (20 - 15) * ((100vw - 320px) / (576 - 320)));
    /* padding-bottom: 20px; */
    padding-bottom: calc(30px + (20 - 30) * ((100vw - 320px) / (576 - 320)));
  }

  .intro {
    border-radius: 16px;
    /* padding: 120px 30px 22px 30px; */
    padding-top: calc(60px + (120 - 60) * ((100vw - 320px) / (576 - 320)));
    padding-right: calc(21px + (30 - 21) * ((100vw - 320px) / (576 - 320)));
    padding-bottom: calc(15px + (22 - 15) * ((100vw - 320px) / (576 - 320)));
    padding-left: calc(22px + (30 - 22) * ((100vw - 320px) / (576 - 320)));
    /* min-height: 532px; */
    min-height: calc(308px + (532 - 308) * ((100vw - 320px) / (576 - 320)));
  }

  .intro__content {
    align-items: center;
    text-align: center;
    /* margin-bottom: 74px; */
    margin-bottom: calc(34px + (74 - 34) * ((100vw - 320px) / (576 - 320)));
    /* max-width: 485px; */
    max-width: calc(247px + (485 - 247) * ((100vw - 320px) / (576 - 320)));
    /* min-height: 240px; */
    min-height: calc(189px + (240 - 189) * ((100vw - 320px) / (576 - 320)));
  }

  .intro__title {
    /* margin-bottom: 16px; */
    margin-bottom: calc(8px + (16 - 8) * ((100vw - 320px) / (576 - 320)));
    /* font-size: 35px; */
    font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (576 - 320)));
    /* line-height: 40px; */
    line-height: calc(24px + (40 - 24) * ((100vw - 320px) / (576 - 320)));
  }

  .intro__desc {
    /* margin-bottom: 45px; */
    margin-bottom: calc(32px + (45 - 32) * ((100vw - 320px) / (576 - 320)));
    /* font-size: 16px; */
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (576 - 320)));
    /* line-height: 24px; */
    line-height: calc(15px + (24 - 15) * ((100vw - 320px) / (576 - 320)));
  }

  .intro__content .btn {
    padding: 18px 30px;
    min-width: 220px;
    min-height: 58px;
    font-size: 18px;
    line-height: 21px;
  }

  /* about-us / sec. #2 */

  .about-us {
    /* padding-top: 15px;
    padding-bottom: 20px; */
    padding-top: calc(30px + (15 - 30) * ((100vw - 320px) / (576 - 320)));
    padding-bottom: calc(30px + (20 - 30) * ((100vw - 320px) / (576 - 320)));
  }

  .about-us__desc {
    /* margin-bottom: 49px; */
    margin-bottom: calc(14px + (49 - 14) * ((100vw - 320px) / (576 - 320)));
    /* font-size: 16px; */
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (576 - 320)));
  }

  .more {
    /* position: relative; */
    gap: calc(25px + (32 - 25) * ((100vw - 320px) / (576 - 320)));
  }

  .more__left {
    /* position: relative; */
    /* top: 0; */
    border-radius: 16px;
    /* min-width: 506px; */
    min-width: calc(290px + (506 - 290) * ((100vw - 320px) / (576 - 320)));
    min-height: calc(406px + (540 - 406) * ((100vw - 320px) / (576 - 320)));
    background: url(../img/about_us_left_bg.jpg) no-repeat 0px
      calc(-8px + (0 - (-8)) * ((100vw - 320px) / (576 - 320))) /
      calc(290px + (506 - 290) * ((100vw - 320px) / (576 - 320)));
    /* outline: 2px solid red; */
  }

  .info {
    /* position: inherit; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    border-radius: 0;
    /* padding: 34px 30px 34px 30px; */
    padding-top: 0;
    /* padding-top: calc(8px + (0 - 8) * ((100vw - 320px) / (576 - 320))); */
    padding-right: 0;
    /* padding-right: calc(0px + (30 - 0) * ((100vw - 320px) / (576 - 320))); */
    padding-bottom: 0;
    padding-left: 0px;
    /* padding-left: calc(6px + (30 - 6) * ((100vw - 320px) / (576 - 320))); */
    min-height: calc(198px + (164 - 198) * ((100vw - 320px) / (576 - 320)));
    background: var(--white-color);
  }

  .info__text {
    margin-bottom: 6px;
    /* width: 466px; */
    width: calc(284px + (466 - 284) * ((100vw - 320px) / (576 - 320)));
    /* font-weight: 400;
    font-size: 14px; */
    font-weight: 400;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (576 - 320)));
    color: var(--black-color);
  }

  .more__left-info .btn {
    margin-left: 2px;
    border-radius: 8px;
    padding: 10px 42px;
    min-width: 159px;
    min-height: 36px;
    font-size: 12px;
    line-height: 15px;
    color: var(--orange-light);
    outline: 2px solid var(--orange-normal);
  }

  .more__left-info .btn:focus-visible {
    color: var(--white-color);
  }

  .more__left-info .btn:hover {
    color: var(--white-color);
  }

  .more__left-info .btn:active {
    color: var(--white-color);
  }

  .more__right {
    /* min-height: 502px; */
    min-height: calc(558px + (502 - 558) * ((100vw - 320px) / (576 - 320)));
  }

  .benefits-list {
    /* row-gap: 32px; */
    row-gap: calc(23px + (32 - 23) * ((100vw - 320px) / (576 - 320)));
  }

  .benefits-list__item {
    align-items: start;
    /* row-gap: 20px; */
    row-gap: calc(10px + (20 - 10) * ((100vw - 320px) / (576 - 320)));
    /* border-radius: var(--new-radius); */
    /* min-height: 235px; */
    /* padding: 34px 45px 33px 40px; */
    padding-top: calc(0px + (34 - 0) * ((100vw - 320px) / (576 - 320)));
    padding-right: calc(0px + (45 - 0) * ((100vw - 320px) / (576 - 320)));
    padding-bottom: calc(0px + (35 - 0) * ((100vw - 320px) / (576 - 320)));
    padding-left: calc(0px + (40 - 0) * ((100vw - 320px) / (576 - 320)));
    /* width: 506px; */
    /* width: calc(290px + (506 - 290) * ((100vw - 320px) / (576 - 320))); */
    /* min-height: 235px; */
    min-height: calc(259px + (235 - 259) * ((100vw - 320px) / (576 - 320)));
  }

  .benefits-list__item-group {
    /* row-gap: 8px; */
    row-gap: calc(4px + (8 - 4) * ((100vw - 320px) / (576 - 320)));
    /* min-height: 165px; */
    min-height: calc(196px + (165 - 196) * ((100vw - 320px) / (576 - 320)));
  }

  .benefits-1::before {
    margin-right: 0;
    width: calc(63px + (98 - 63) * ((100vw - 320px) / (576 - 320)));
    height: calc(48px + (75 - 48) * ((100vw - 320px) / (576 - 320)));
    background: url(../img/about_us_right_bg_1_v2.svg) no-repeat center / cover;
  }

  .benefits-list__item-subtitle {
    /* font-size: 24px; */
    /* line-height: 29px; */
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (576 - 320)));
    line-height: calc(22px + (29 - 22) * ((100vw - 320px) / (576 - 320)));
  }

  .benefits-list__item-desc {
    /* font-size: 16px; */
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (576 - 320)));
  }

  .benefits-2::before {
    margin-right: 0;
    margin-bottom: 2px;
    width: calc(63px + (98 - 63) * ((100vw - 320px) / (576 - 320)));
    height: calc(48px + (75 - 48) * ((100vw - 320px) / (576 - 320)));
    background: url(../img/about_us_right_bg_2_v2.svg) no-repeat center / cover;
  }

  /* workflow / sec. #3 */

  .workflow {
    /* padding-top: 15px;
    padding-bottom: 20px; */
    padding-top: calc(32px + (15 - 32) * ((100vw - 320px) / (576 - 320)));
    padding-bottom: calc(31px + (20 - 31) * ((100vw - 320px) / (576 - 320)));
  }

  .workflow__title {
    margin-bottom: calc(19px + (35 - 19) * ((100vw - 320px) / (576 - 320)));
  }

  .workflow__steps-list {
    margin-bottom: calc(15px + (35 - 15) * ((100vw - 320px) / (576 - 320)));
  }

  .steps-list__link {
    /* font-size: 18px;
    line-height: 22px; */
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (576 - 320)));
    line-height: calc(17px + (22 - 17) * ((100vw - 320px) / (576 - 320)));
  }

  .left-part {
    max-width: calc(290px + (506 - 290) * ((100vw - 320px) / (576 - 320)));
  }

  .left-part__subtitle {
    /* margin-bottom: 8px; */
    margin-bottom: calc(11px + (8 - 11) * ((100vw - 320px) / (576 - 320)));
    /* font-size: 24px; */
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (576 - 320)));
  }

  .left-part__text {
    /* margin-bottom: 17px; */
    max-width: calc(290px + (506 - 290) * ((100vw - 320px) / (576 - 320)));
    /* font-size: 16px; */
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (576 - 320)));
  }

  .left-part__btns {
    flex-wrap: nowrap;
    align-items: center;
    /* gap: 23px 33px; */
    column-gap: calc(10px + (33 - 10) * ((100vw - 320px) / (576 - 320)));
    height: calc(45px + (60 - 45) * ((100vw - 320px) / (576 - 320)));
  }

  .left-part__btns .btn {
    margin-bottom: calc(4px + (0 - 4) * ((100vw - 320px) / (576 - 320)));
    /* border-radius: 16px; */
    border-radius: calc(8px + (16 - 8) * ((100vw - 320px) / (576 - 320)));
    /* padding: 20px 38px; */
    padding-top: calc(13px + (20 - 13) * ((100vw - 320px) / (576 - 320)));
    padding-right: calc(44px + (38 - 44) * ((100vw - 320px) / (576 - 320)));
    padding-bottom: calc(11px + (20 - 11) * ((100vw - 320px) / (576 - 320)));
    padding-left: calc(44px + (38 - 44) * ((100vw - 320px) / (576 - 320)));
    /* min-width: 175px; */
    min-width: calc(162px + (175 - 162) * ((100vw - 320px) / (576 - 320)));
    /* min-height: 60px; */
    min-height: calc(39px + (60 - 39) * ((100vw - 320px) / (576 - 320)));
    /* font-size: 16px; */
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (576 - 320)));
    /* line-height: 20px; */
    line-height: calc(15px + (20 - 15) * ((100vw - 320px) / (576 - 320)));
  }

  /* .btn_transparent {
    background-color: transparent;
  } */

  .left-part__btns .btn_black {
    /* padding: 20px 38px; */
    padding-right: calc(32px + (38 - 32) * ((100vw - 320px) / (576 - 320)));
    padding-left: calc(32px + (38 - 32) * ((100vw - 320px) / (576 - 320)));
    /* min-width: 147px; */
    min-width: calc(118px + (147 - 118) * ((100vw - 320px) / (576 - 320)));
  }

  .right-part {
    border-radius: 16px;
    width: calc(290px + (506 - 290) * ((100vw - 320px) / (576 - 320)));
    min-height: calc(160px + (235 - 160) * ((100vw - 320px) / (576 - 320)));
  }

  .steps-desc__right-part {
    margin-bottom: calc(20px + (28 - 20) * ((100vw - 320px) / (576 - 320)));
  }

  .right-part__image {
    border-radius: 16px;
    height: calc(160px + (235 - 160) * ((100vw - 320px) / (576 - 320)));
  }

  /* questions / sec. #4 */

  .questions {
    /* padding-bottom: 80px; */
    padding-bottom: calc(60px + (80 - 60) * ((100vw - 320px) / (576 - 320)));
  }

  .questions__title {
    margin-bottom: 17px;
  }

  .accordion__item-btn {
    padding-top: calc(31px + (30 - 31) * ((100vw - 320px) / (576 - 320)));
    padding-right: calc(33px + (90 - 33) * ((100vw - 320px) / (576 - 320)));
    /* font-size: 20px;
    line-height: 32px; */
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (576 - 320)));
    line-height: calc(24px + (32 - 24) * ((100vw - 320px) / (576 - 320)));
  }

  .item-btn-1 {
    /* padding-bottom: 30px; */
    padding-bottom: calc(29px + (30 - 29) * ((100vw - 320px) / (576 - 320)));
  }

  .item-btn-2 {
    /* padding-bottom: 31px; */
    padding-bottom: calc(29px + (31 - 29) * ((100vw - 320px) / (576 - 320)));
  }

  .item-btn-3 {
    /* padding-bottom: 31px; */
    padding-bottom: calc(29px + (31 - 29) * ((100vw - 320px) / (576 - 320)));
  }

  .item-btn-4 {
    /* padding-top: 29px; */
    padding-top: calc(31px + (29 - 31) * ((100vw - 320px) / (576 - 320)));
  }

  .item-btn-5 {
    /* padding-bottom: 31px; */
    padding-bottom: calc(29px + (31 - 29) * ((100vw - 320px) / (576 - 320)));
  }

  .accordion__item-btn::after {
    /* content: "";
    position: absolute;
    right: 0; */
    top: 50%;
    /* margin-right: -4px; */
    margin-right: calc(0px + ((-4) - 0) * ((100vw - 320px) / (576 - 320)));
    /* width: 50px;
    height: 50px; */
    width: calc(30px + (50 - 30) * ((100vw - 320px) / (576 - 320)));
    height: calc(30px + (50 - 30) * ((100vw - 320px) / (576 - 320)));
    background-image: url("data:image/svg+xml,%3Csvg width='' height='' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23CACACA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='black'/%3E%3C/svg%3E%0A");
    transform: translateY(-52%);
  }

  .accordion__item-btn:focus::after,
  .accordion__item-btn:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='' height='' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23FF9900'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  /* footer */

  .footer {
    /* padding-top: 52px; */
    padding-top: calc(33px + (52 - 33) * ((100vw - 320px) / (576 - 320)));
    /* min-height: 792px; */
    min-height: calc(628px + (792 - 628) * ((100vw - 320px) / (576 - 320)));
  }

  .left-group {
    /* width: 367px; */
    width: calc(131px + (367 - 131) * ((100vw - 320px) / (576 - 320)));
    /* min-height: 148px; */
    min-height: calc(99px + (148 - 99) * ((100vw - 320px) / (576 - 320)));
  }

  .left-group__logo {
    /* margin-bottom: 10px; */
    margin-bottom: calc(12px + (10 - 12) * ((100vw - 320px) / (576 - 320)));
  }

  .socials-list {
    /* column-gap: 25px; */
    column-gap: calc(16px + (25 - 16) * ((100vw - 320px) / (576 - 320)));
  }

  .item-link {
    /* width: 60px;
    height: 60px; */
    width: calc(40px + (60 - 40) * ((100vw - 320px) / (576 - 320)));
    height: calc(40px + (60 - 40) * ((100vw - 320px) / (576 - 320)));
  }

  .center-group {
    position: relative;
    /* width: calc(570px + (675 - 570) * ((100vw - 320px) / (576 - 320))); */
    /* max-width: 541px; */
    max-width: calc(290px + (541 - 290) * ((100vw - 320px) / (576 - 320)));
    /* min-height: 494px; */
    min-height: calc(433px + (494 - 433) * ((100vw - 320px) / (576 - 320)));
  }

  .center-group__title {
    /* margin-bottom: 24px; */
    margin-bottom: calc(21px + (24 - 21) * ((100vw - 320px) / (576 - 320)));
  }

  .form {
    /* min-width: 410px; */
    min-width: calc(290px + (410 - 290) * ((100vw - 320px) / (576 - 320)));
    /* min-height: 410px; */
    min-height: calc(384px + (410 - 384) * ((100vw - 320px) / (576 - 320)));
  }

  .center-group__form {
    /* margin-bottom: 50px; */
    margin-bottom: calc(16px + (50 - 16) * ((100vw - 320px) / (576 - 320)));
  }

  .form__input {
    /* padding: 14px 24px; */
    padding-right: calc(20px + (24 - 20) * ((100vw - 320px) / (576 - 320)));
    padding-left: calc(20px + (24 - 20) * ((100vw - 320px) / (576 - 320)));
    /* font-size: 16px; */
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (576 - 320)));
  }

  .form__textarea {
    /* margin-bottom: 31px; */
    margin-bottom: calc(25px + (31 - 25) * ((100vw - 320px) / (576 - 320)));
    /* padding: 14px 24px; */
    padding-top: calc(16px + (14 - 16) * ((100vw - 320px) / (576 - 320)));
    padding-right: calc(20px + (24 - 20) * ((100vw - 320px) / (576 - 320)));
    padding-left: calc(20px + (24 - 20) * ((100vw - 320px) / (576 - 320)));
    /* font-size: 16px; */
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (576 - 320)));
  }
}

@media (max-width: 320px) {
  /* !В практике, по Lionic использовали: 1024 - 992 - 768 - 576 - 480, т.е. без 320 - вообще, без calc.. надо его претестировать на плавное сжатие и посмотреть.. так ли всё хорошо! /

  /* main */

  /* hero / sec. #1 */

  .intro__content .btn {
    border-radius: 8px;
    padding: 13px 28px;
    min-width: 162px;
    min-height: 41px;
    font-size: 12px;
    line-height: 15px;
  }

  .benefits-list__item {
    border: none;
  }

  .benefits-list__item-subtitle {
    font-weight: 500;
  }

  .left-part__subtitle {
    font-weight: 500;
  }

  .accordion__item-btn {
    font-weight: 500;
  }

  .accordion__item-btn::after {
    /* background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23CACACA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.0339 14.4343L15.0339 5.40002L15.5653 5.40002L15.5653 14.4343L20.3297 14.4343L24.5996 14.4343L24.5996 14.9657L15.5653 14.9657L15.5653 24L15.0339 24L15.0339 14.9657L5.99961 14.9657L5.99961 14.4343L15.0339 14.4343Z' fill='black'/%3E%3C/svg%3E%0A"); */
    transform: translateY(-49%);
  }

  /* footer */

  .footer__container {
    align-items: center;
  }

  .center-group::before {
    content: "";
    position: absolute;
    top: 450px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #414141;
  }

  .left-group {
    align-items: center;
    padding-top: 16px;
  }

  .form .btn {
    border-radius: 8px;
    padding: 11px 28px;
    min-width: 180px;
    min-height: 39px;
    font-size: 12px;
    line-height: 15px;
  }
}
