@media (max-width: 1024px) {
  /* variables */
  :root {
    --gap-left: 0;
  }

  /* header */

  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .page__header {
    margin-bottom: 20px;
  }

  .header__container {
    justify-content: space-between;
  }

  /* !Burger */

  .burger {
    position: relative;
    display: block;
    left: 0px;
    width: 30px;
    height: 23px;
    color: var(--black-color);
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 0px;
  }

  .burger__line:nth-child(2) {
    top: 49%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger__line:nth-child(3) {
    bottom: -1px;
    transform: translateX(-50%) translateY(-50%);
  }

  .header__logo {
    flex-shrink: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    width: 150px;
    height: 48px;
  }

  .header__nav {
    display: none;
  }

  .header__search {
    margin-right: 0;
  }

  /* main */

  /* hero / sec. #1 */

  .hero {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .intro {
    padding: 160px 77px 30px 77px;
    min-height: 668px;
  }

  .intro__content {
    margin-bottom: 115px;
    max-width: 770px;
    min-height: 348px;
  }

  .intro__title {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    color: var(--white-color);
  }

  .intro__desc {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--white-color);
  }

  /* about-us / sec. #2 */

  .about-us {
    padding-top: 15px;
    padding-bottom: 40px;
  }

  .about-us__desc {
    margin-bottom: 60px;
  }

  .more {
    flex-wrap: wrap;
  }

  .more__left {
    width: 100%;
    min-height: 640px;
  }

  .info {
    padding-left: 50px;
  }

  .more__right {
    width: 100%;
  }

  .benefits-list {
    row-gap: 32px;
    max-width: 100%;
  }

  .benefits-list__item {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .benefits-1 {
    padding: 65px 153px 64px 77px;
  }

  .benefits-2 {
    padding: 64px 153px 64px 77px;
  }

  /* workflow / sec. #3 */

  .workflow {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .workflow__steps-list {
    margin-bottom: 50px;
  }

  .steps-desc__left-part {
    margin-right: 50px;
  }

  .left-part__text {
    margin-bottom: 25px;
    max-width: 437px;
  }

  .right-part {
    width: 437px;
    min-height: 689px;
  }

  .right-part__image {
    height: calc((100% * 1) - 11px);
  }

  /* questions / sec. #4 */

  .questions {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .accordion__item-btn {
    padding-left: 0;
    padding-bottom: 31px;
    font-size: 20px;
    line-height: 160%;
  }

  .item-btn-1 {
    padding-bottom: 40px;
  }

  .item-btn-2 {
    padding-top: 30px;
    padding-bottom: 31px;
  }

  .move-word {
    margin-right: 54px;
  }

  .item-btn-3 {
    padding-top: 38px;
    padding-bottom: 39px;
  }

  .item-btn-4 {
    padding-top: 30px;
    padding-bottom: 31px;
  }

  .item-btn-5 {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .accordion__item-btn::after {
    margin-right: 0;
  }

  /* footer */

  .footer__container {
    justify-content: space-between;
  }

  .footer__left-group {
    margin-right: 0;
  }

  .center-group {
    max-width: 541px;
  }

  .footer__center-group {
    margin-right: 0;
    margin-left: 0;
  }

  .footer__right-text {
    display: none;
  }

  .form .btn {
    padding: 18px 33px;
    min-width: 244px;
  }
}

@media (max-width: 992px) {
  /* variables */
  :root {
    --new-radius: 24px;
  }

  /* header */

  .header {
    padding-top: 11px;
    padding-bottom: 10px;
  }

  /* !Burger */

  .burger__line:nth-child(3) {
    bottom: 0px;
    transform: translateX(-50%) translateY(-39%);
  }

  /* main */

  /* hero / sec. #1 */

  .hero {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .intro {
    border-radius: var(--new-radius);
    padding: 160px 40px 30px 40px;
    min-height: 662px;
  }

  .intro__content {
    margin-bottom: 115px;
    max-width: 588px;
    min-height: 342px;
  }

  .intro__title {
    margin-bottom: 16px;
    font-size: 50px;
    line-height: 61px;
    color: var(--white-color);
  }

  .intro__desc {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
    color: var(--white-color);
  }

  /* about-us / sec. #2 */

  .about-us {
    padding-top: 15px;
    padding-bottom: 40px;
  }

  .about-us__desc {
    margin-bottom: 55px;
  }

  .more__left {
    border-radius: var(--new-radius);
    min-height: 650px;
  }

  .info {
    border-radius: var(--new-radius);
    padding: 34px 40px 34px 40px;
  }

  .info__text {
    width: calc(366px + (533 - 366) * ((100vw - 768px) / (992 - 768)));
  }

  .more__right {
    min-height: 502px;
  }

  .benefits-list__item {
    align-items: center;
    border-radius: var(--new-radius);
    min-height: 235px;
  }

  .benefits-1 {
    padding: 34px 44px 33px 40px;
    padding-left: calc(40px + (80 - 40) * ((100vw - 768px) / (992 - 768)));
  }

  .benefits-1::before {
    margin-right: calc(15px + (50 - 15) * ((100vw - 768px) / (992 - 768)));
    margin-bottom: 2px;
    width: calc(114px + (190 - 114) * ((100vw - 768px) / (992 - 768)));
    height: calc(99px + (165 - 99) * ((100vw - 768px) / (992 - 768)));
  }

  .benefits-2 {
    padding: 34px 46px 33px 40px;
    padding-left: calc(40px + (80 - 40) * ((100vw - 768px) / (992 - 768)));
  }

  .benefits-2::before {
    margin-right: calc(15px + (50 - 15) * ((100vw - 768px) / (992 - 768)));
    margin-bottom: 1px;
    width: calc(114px + (190 - 114) * ((100vw - 768px) / (992 - 768)));
    height: calc(99px + (165 - 99) * ((100vw - 768px) / (992 - 768)));
  }

  /* workflow / sec. #3 */

  .workflow {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .steps-list {
    justify-content: space-between;
    padding-left: calc(0px + (50 - 0) * ((100vw - 768px) / (992 - 768)));
    padding-right: calc(0px + (50 - 0) * ((100vw - 768px) / (992 - 768)));
  }

  .workflow__steps-list {
    margin-bottom: 49px;
  }

  .steps-desc {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .left-part {
    max-width: calc(667px + (892 - 667) * ((100vw - 768px) / (992 - 768)));
    min-height: calc(369px + (381 - 369) * ((100vw - 768px) / (992 - 768)));
  }

  .steps-desc__left-part {
    margin-right: 0;
  }

  .left-part__text {
    margin-bottom: 25px;
    max-width: calc(667px + (892 - 667) * ((100vw - 768px) / (992 - 768)));
  }

  .right-part {
    width: calc(668px + (892 - 668) * ((100vw - 768px) / (992 - 768)));
    min-height: calc(284px + (384 - 284) * ((100vw - 768px) / (992 - 768)));
  }

  .steps-desc__right-part {
    margin-bottom: 38px;
  }

  .right-part__image {
    align-self: flex-start;
    border-radius: var(--new-radius);
    width: 100%;
    height: calc(284px + (384 - 284) * ((100vw - 768px) / (992 - 768)));
  }

  /* questions / sec. #4 */

  .questions {
    padding-top: 24px;
    padding-bottom: 111px;
  }

  .questions__title {
    margin-bottom: 33px;
  }

  .accordion__item-btn {
    padding-top: 30px;
    padding-bottom: 30px;
    max-height: 126px;
  }

  .item-btn-1 {
    padding-top: 38px;
    padding-bottom: 40px;
  }

  .item-btn-2 {
    padding-bottom: 31px;
  }

  .move-word {
    margin-right: 54px;
  }

  .item-btn-3 {
    padding-bottom: 31px;
  }

  .item-btn-4 {
    padding-top: 29px;
  }

  .item-btn-5 {
    padding-top: 30px;
    padding-bottom: 31px;
  }

  .accordion__item-btn::after {
    margin-right: -1px;
  }

  .item-btn-3::after {
    top: 45%;
  }

  .item-btn-5::after {
    top: 46%;
  }

  /* footer */

  .footer {
    padding-bottom: 0;
    min-height: 792px;
  }

  .footer__container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .left-group {
    min-height: 148px;
  }

  .left-group__nav {
    display: none;
  }

  .left-group__logo {
    margin-bottom: 10px;
  }

  .center-group {
    width: calc(570px + (675 - 570) * ((100vw - 768px) / (992 - 768)));
    max-width: calc(541px + (675 - 541) * ((100vw - 768px) / (992 - 768)));
  }

  .center-group__title {
    padding-left: calc(0px + (210 - 0) * ((100vw - 768px) / (992 - 768)));
  }

  .center-group__form {
    margin-bottom: 50px;
    padding-left: calc(0px + (210 - 0) * ((100vw - 768px) / (992 - 768)));
  }
}

@media (max-width: 768px) {
  /* glob */
  /* .container {
    padding-right: calc(35px + (50 - 35) * ((100vw - 576px) / (768 - 576)));
    padding-left: calc(35px + (50 - 35) * ((100vw - 576px) / (768 - 576)));
  } */

  /* header */

  /* .intro__title {
    font-size: calc(35px + (50 - 35) * ((100vw - 576px) / (768 - 576)));
    line-height: calc(40px + (61 - 40) * ((100vw - 576px) / (768 - 576)));
  } */

  /* main */

  /* hero / sec. #1 */

  /* .info {
    flex-wrap: wrap;
  } */

  /* !Внимание.. для calc() согласно медиа px следует выставлять в скобках px!*/

  .info__text {
    /* width: 366px; */
    /* width: calc(455px + (366 - 455) * ((100vw - 576px) / (768 - 576))); */
  }

  /* .benefits-1::before {
    width: 114px;
    height: 99px;
    margin-right: 16px;
  } */

  /* .benefits-2::before {
    width: 114px;
    height: 99px;
    margin-right: 16px;
  } */
}

@media (max-width: 576px) {
  /* glob */
  /* .container {
    padding-right: 35px;
    padding-left: 35px;
  } */
}

@media (max-width: 320px) {
  /* glob */
  /* .container {
    padding-right: 15px;
    padding-left: 15px;
  } */

  /* header */

  /* .header {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .header__logo {
    width: 110px;
    height: 35px;
  } */
}
