html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 3000px;
  font-family: "Open Sans", sans-serif;
}

/* glob */
.container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 0 15px;
  width: 1200px;
}

.title {
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 30px;
  color: grey;
}

.title-effect__1 {
  text-shadow: 0 1px 10px lightskyblue;
}

.title-effect__2 {
  text-shadow: 0 1px 10px lightgreen;
}

.ex-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  border-radius: 5px;
  padding: 30px;
  width: 100%;
  outline: 1px solid lightgrey;
}

.element {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  width: 100%;
}

.subtitle {
  padding-left: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 2px;
  text-shadow: 0 1px 10px lightslategray;
}

.subtitle-effect__1 {
  text-shadow: 0 1px 10px lightcoral;
}

.subtitle-effect__2 {
  text-shadow: 0 1px 10px lightgreen;
}

.desc {
  padding-left: 10px;
  width: 100%;
  font-size: 18px;
  letter-spacing: 2px;
  text-shadow: 0 1px 10px lightgray;
}

.block {
  border-radius: 5px;
  padding: 20px;
  height: 100px;
  outline: 1px solid lightgrey;
}

/* calc() function, for ex.: */
/* calculating/placing 3 equal blocks */
.block-element__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  text-shadow: 0 1px 10px lightgray;
  outline: 1px solid lightcoral;
}

/* calculating/placing a fixed block and a block under all/other space */
.block-element__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 1px 10px lightgray;
  outline: 1px solid lightcoral;
}

.element__2-1 {
  width: 370px;
}

.element__2-2 {
  width: calc(100% - 370px);
}

/* a grid of blocks, with fixed indents.. entering a variable */
.block-element__3 {
  --gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: var(--gap); */
  width: calc((100% - (var(--gap) * 2)) / 3);
  text-shadow: 0 1px 10px lightgray;
  outline: 1px solid lightcoral;
}

.block-element__3:not(:nth-child(3n + 1)) {
  margin-right: var(--gap);
}

/* <!-- useful functions/values, for ex.: --> */
/* min() */
.block-element__4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(50%, 700px);
  height: auto;
  text-shadow: 0 1px 10px lightgray;
  outline: 1px solid lightcoral;
}

.element-4__desc {
  align-self: center;
  border-bottom: 1px solid lightcoral;
  padding-left: 150px;
  font-size: 18px;
}

/* max() */
.block-element__5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: max(9%, 50px);
  width: 600px;
  height: auto;
  text-shadow: 0 1px 10px lightgray;
  outline: 1px solid lightcoral;
}

.element-5__desc {
  align-self: center;
  border-bottom: 1px solid lightcoral;
  /* padding-left: 100px; */
  font-size: 18px;
}

/* clamp() */
.block-element__6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(320px, 50%, 1000px);
  height: auto;
  text-shadow: 0 1px 10px lightgray;
  outline: 1px solid lightcoral;
}

.element-6__desc {
  align-self: center;
  border-bottom: 1px solid lightcoral;
  padding-left: 150px;
  font-size: 18px;
}

/* filter property, its/some functions/values, for ex.: */
.element-7 {
  justify-content: space-between;
}

.blur-grayscale-invert {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
/* blur() */
.block-element__7 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 350px;
  height: 400px;
  overflow: hidden;
  cursor: help;
  box-shadow: 0 1px 10px lightslategray;
}

.element-7__img {
  width: 100%;
  height: 100%;
  filter: blur(10px);
  transition: filter 1s ease-in-out;
}

.element-7__img:hover {
  filter: blur(0);
}

/* grayscale() */
.block-element__8 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 350px;
  height: 400px;
  overflow: hidden;
  cursor: help;
  box-shadow: 0 1px 10px lightslategray;
}

.element-8__img {
  width: 100%;
  height: 100%;
  filter: grayscale();
  transition: filter 1s ease-in-out;
}

.element-8__img:hover {
  filter: grayscale(0);
}

/* invert() */
.block-element__9 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 350px;
  height: 400px;
  overflow: hidden;
  cursor: help;
  box-shadow: 0 1px 10px lightslategray;
}

.element-9__img {
  width: 100%;
  height: 100%;
  filter: invert();
  transition: filter 1s ease-in-out;
}

.element-9__img:hover {
  filter: invert(0);
}
