.dboard__table {
  font-family: var(--roboto-mono), sans-serif;
  font-size: var(--default-fs);
}

.dboard__table tr th,
.dboard__table tr td {
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  color: var(--starry-night);
  cursor: pointer;
}

.border-top-color {
  border-top: 2px solid var(--starry-night);
}

.dboard__table #tableThTag {
  font-size: 24px;
  color: var(--fire-red);
}

.dboard__table-body-cell_number {
  min-width: 45px;
  min-height: 45px;
}

.dboard__table-body-row_selected {
  border-bottom: 1px solid var(--bootstrap-red);
}

.btn-close {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.btn-close:focus {
  box-shadow: 0 0 0 0.25rem var(--bootstrap-red);
  opacity: 0.5;
}
