.dboard__table {
  font-family: var(--roboto-mono), sans-serif;
  font-size: var(--default-fs);
  text-align: center;
}

.dboard__table tr th,
.dboard__table tr td {
  color: var(--starry-night);
  cursor: pointer;
}

.dboard__table #tableThTag {
  color: var(--fire-red);
}

.dboard__table-body-row_selected {
  border-bottom: 5px solid red;
}
