/* Дублировал.. */
html {
  box-sizing: border-box; /* Это уже, как правило.. такое свойство/значение => для всех или всего документа (как здесь) */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 30%;
  max-height: 30%;
}

body {
  font-family: "font", sans-serif;
}

/* !!! как правило/стандарт. */
/* "Сразу", для "всего" наполнения/контента страницы, через "основной" div => зададим "внутренние" оступы/поля */
.content {
  padding: 2rem 1rem; /* Вот так => контент, не будет "прилеплен" к границам экрана/монитора */
}

/* => *принципы, организации отступов, снизу и/или справа, по-шагово, для/под html-file/content, for ex. */
h2 {
  margin: 0 0 1em 0; /* "крайний" 0 можно не указывать, т.к. для CSS всё и так понятно, что согласно, второго: 0 (как, для права), есть "по-сути" значение и для лева, но я оставлю.. */
}

/* 2. */
ul {
  display: inline-block; /* Переопределим, да-бы, 2-ва списка раположились, рядом/в линию => для отработки, примера: с правым отступом */
  margin: 0 2em 1em 0; /* => установим отсупы: с права и снизу (сразу, для всех) => для крайнего, отступы будем "затирать", посредством: last-child (так как, по правилам, они там не нужны, будут мешать) */
  padding-left: 1em; /* Вмоменте, подкорректируем "излишние" отступы слева (стоит не забывать, про видимость маркеров/точек списков, т.е. исключать "слипание/наслоение" */
}
ul:last-child {
  margin-right: 0; /* таким образом, у "крайне-идущего" списка => удалим правый отступ + плюс исключим "ранний" переход, на "новую" строку, при адаптиве */
  margin-bottom: 0; /* удалим => и нижний отступ, у "крайнего" списка, т.к. при смещении, при адаптиве => за это будет/станет "отвечать" меж-секционный/блочный отступ, т.е. следом идущий */
}

/* 3. */
/* => следует/рекомендуется рассмотреть, ещё один способ/вариант, отработки/затирания оступов, "по-сути", для "крайнего" списка => только/уже, через :not() */
/* Т.е. эти записи с ul-селектором, такой синтаксис => это как-бы, на оборот, отработка, для всех, кроме крайнего (т.е. через: ul:last-child, только для крайнего, было..) */
/* ul {
  margin: 0;
  display: inline-block;
  padding-left: 1em;
}
ul:not(:last-child) {
  margin: 0 2em 1em 0;
} */

/* 4. */
/* Организация, отступов между: "общими" секциями, div-блоками, for ex. */
/* Отработка, для "всех", кроме крайнего */
.example:not(:last-child) {
  margin-bottom: 2em;
}
