.page {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 32px;
}

.page__container {
  margin-right: auto;
  margin-left: auto;
  padding: 50px 50px 20px 50px;
  max-width: 1200px;
}

.container__btn {
  border: none;
  border-radius: 5px;
  padding: 1px 30px;
  min-width: 120px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 32px;
  color: lightslategray;
  background-color: transparent;
  outline: 2px solid lightslategray;
  cursor: pointer;
  box-shadow: 0 1px 10px lightslategray;
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.container__btn:hover {
  color: white;
  background-color: lightslategray;
  box-shadow: 0 1px 10px lightskyblue;
}
