.footer {
  padding-top: 28px;
  padding-bottom: 28px;
  min-height: 80px;
  background-color: var(--plum);
}

.footer__socials-list {
  gap: 30px;
}

.footer__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 24px;
  height: 24px;
  color: var(--white);
  outline: none;
  -webkit-transition: color var(--short);
  -o-transition: color var(--short);
  transition: color var(--short);
}

.footer__item-link:focus-visible:not(:hover) {
  outline: 3px solid var(--celestial);
  outline-offset: 6px;
}

.footer__item-link:active {
  color: var(--main-blue);
}

/* media queries */

@media (max-width: 991.98px) {
  .footer {
    padding-bottom: 27px;
    min-height: 79.5px;
  }
}

@media (max-width: 696.98px) {
  .footer {
    padding-bottom: 28px;
  }
}

@media (any-hover: hover) {
  .footer__item-link:hover:not(:active) {
    color: var(--light-blue);
  }

  .link-youtube:hover:not(:active) {
    color: var(--link-fill);
  }
}
