@keyframes twist {
  0% {
    transform: none;
  }
  20% {
    transform: translateX(100px) rotate(72deg);
  }
  40% {
    transform: translateX(200px) rotate(144deg) scale(1.1);
  }
  60% {
    transform: translateX(300px) rotate(216deg) scale(1.2);
  }
  80% {
    transform: translateX(400px) rotate(288deg) scale(1.4);
  }
  100% {
    transform: translateX(500px) rotate(360deg) scale(1.6);
  }
}
