.page {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 992px;
  min-width: 320px;
  font-family: "Roboto Mono", monospace;
}

.page__title {
  color: rgb(84, 159, 181);
  text-shadow: 0 1px 10px rgb(180, 231, 246);
}

.page__animation-wrap {
  border-radius: 25px;
  max-width: 550px;
  box-shadow: 0 1px 10px rgb(180, 231, 246);
}

.circle {
  position: relative;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.956) 47%,
    rgb(180, 231, 246) 100%
  );
  box-shadow: 0 1px 10px rgb(180, 231, 246);
  animation: twist alternate 1s linear infinite;
}

.circle:hover {
  cursor: help;
  animation-play-state: paused;
}
