html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 800px;
  font-family: "Roboto Mono", monospace;
}

/* glob */
.container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 50px;
  width: 1270px;
}

.container__title {
  margin-bottom: 10px;
  padding-left: 10px;
  width: 30%;
  font-size: 30px;
  text-shadow: 0 1px 10px #f7c815;
  color: #583e26;
  cursor: help;
  transition: color 0.2s ease-in-out;
}

.container__title:hover {
  color: #9c4a1a;
}

.elements {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 30px;
  width: 100%;
  height: auto;
  outline: 1px solid lightgrey;
}

@media (max-width: 768px) {
  .elements {
    width: 50%;
  }
}

.container__elements {
  margin-bottom: 15px;
}

.elements__subtitle {
  margin-bottom: 15px;
  padding-left: 5px;
  text-shadow: 0 1px 10px lightslategray;
}

/* organization of interactive elements.. increase of the pressing area: */

.interactive {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 300px;
}

.elements__interactive {
  margin-bottom: 20px;
}

.interactive__search {
  position: relative;
  border: none;
  width: 70px;
  height: 70px;
  background: url("https://cdn-icons-png.flaticon.com/512/54/54481.png")
    no-repeat center / cover;
  cursor: pointer;
}

.interactive__search::after {
  content: "";
  position: absolute;
  left: -15px;
  top: -15px;
  right: -15px;
  bottom: -15px;
}

.interactive__search:hover::after {
  border-radius: 5px;
  outline: 2px solid #ec9704;
}

/* style priority.. @media at the end: */

/* @media (min-width: 1000px) {
  .media {
    font-size: 30px;
  }
} */

.media {
  border: 3px solid #ec9704;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  cursor: crosshair;
}

@media (min-width: 1000px) {
  .media {
    font-size: 30px;
  }
}

.elements__media {
  margin-bottom: 20px;
}

/* the "Show more" button.. exclude a long column: */

.more {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
}

.elements__more {
  margin-bottom: 10px;
}

.more__itme {
  border: 2px solid #a78b71;
  border-radius: 5px;
  width: 30%;
  min-height: 300px;
  cursor: help;
  box-shadow: 0 1px 10px #9c4a1a;
  transition: background-color 0.3s ease-in-out;
}

.more__itme:hover {
  background-color: #ec9704;
}

.more__btn {
  display: none;
}

@media (max-width: 768px) {
  .more__itme {
    width: 100%;
  }

  .more__itme:nth-child(n + 4) {
    display: none;
  }

  .more__btn {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    width: 50%;
    min-height: 50px;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    color: #9c4a1a;
    background-color: #ec9704;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .more__btn:hover {
    background-color: #f7c815;
    box-shadow: 0 1px 10px #583e26;
  }
}

/* --- */

.container__signature {
  width: auto;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

.container__signature-effect {
  text-shadow: 0 1px 10px #f7c815;
}

@media (max-width: 768px) {
  .container__signature {
    width: 50%;
  }
}
