.courses {
  padding-top: 75px;
  padding-bottom: 80px;
  min-height: 1048px;
}

.courses__title {
  margin-bottom: 23px;
}

.courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 30px;
}

.courses__list:not(:last-child) {
  margin-bottom: 30px;
}

.courses__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  border-radius: var(--main-radius);
  max-width: 540px;
  overflow: hidden;
}

/* media queries */

@media (max-width: 991.98px) {
  .courses {
    padding-top: 74px;
  }

  .courses__title {
    margin-bottom: 23.5px;
  }
}

@media (max-width: 696.98px) {
  .courses__item {
    min-height: 653px;
  }

  .courses__title {
    margin-bottom: 24px;
  }
}

@media (max-width: 536.98px) {
  .courses {
    padding-top: 46.5px;
    padding-bottom: 50.5px;
  }

  .courses__title {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 100%;
  }

  .courses__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
