.tippy-box[data-theme~="main"] {
  font-family: var(--roboto-mono), sans-serif;
  font-size: var(--default-fs);
  color: var(--white);
  background-color: var(--specific-gray);
}

.tippy-box[data-theme~="main"]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 97%;
  height: 1px;
  background-color: inherit;
  transform: translateX(-50%);
}

.tippy-box[data-theme~="main"] .tippy-arrow {
  color: var(--specific-gray);
}
