.crm__add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

.crm__add-btn-wrap {
  padding-bottom: 30px;
}

.crm__add-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border: 1px solid var(--main-purple);
  padding: 12px 25px;
  min-width: 217px;
  font-family: var(--open-sans), sans-serif;
  font-weight: var(--semi-bold);
  font-size: var(--default-fs);
  color: var(--main-purple);
  background: transparent;
  outline: none;
  overflow: hidden;
  transition-property: border, color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.crm__add-btn:focus-visible:not(:hover) {
  color: var(--white);
  background-color: var(--dark-purple);
}

.crm__add-btn:focus-visible:not(:hover) .default-add-icon {
  opacity: 0;
}

.crm__add-btn:focus-visible:not(:hover) .white-add-icon {
  opacity: 1;
}

.crm__add-btn:focus-visible:active {
  color: var(--gray);
}

.crm__add-btn:active {
  border: 1px solid var(--gray);
  color: var(--gray);
  background-color: transparent;
}

.crm__add-btn:active .default-add-icon {
  opacity: 0;
}

.crm__add-btn:active .gray-add-icon {
  opacity: 1;
}

.crm__add-btn-icon {
  position: absolute;
  left: 27px;
  width: 22px;
  height: 16px;
  transition: opacity var(--short) ease;
}

.default-add-icon {
  background: url('../images/add-client.svg') no-repeat center / contain;
  opacity: 1;
}

.white-add-icon {
  background: url('../images/add-client-white.svg') no-repeat center / contain;
  opacity: 0;
}

.gray-add-icon {
  background: url('../images/add-client-gray.svg') no-repeat center / contain;
  opacity: 0;
}

/* media queries, any-hover */

@media (any-hover: hover) {
  .crm__add-btn:hover:not(:active) {
    color: var(--white);
    background-color: var(--light-purple);
  }

  .crm__add-btn:hover:not(:active) .default-add-icon {
    opacity: 0;
  }

  .crm__add-btn:hover:not(:active) .white-add-icon {
    opacity: 1;
  }
}
