.crm__add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

.crm__add-btn-wrap {
  padding-bottom: 30px;
}

.crm__add-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border: 1px solid var(--main-purple);
  padding: 12px 25px;
  min-width: 217px;
  font-family: var(--open-sans), sans-serif;
  font-weight: var(--semi-bold);
  font-size: var(--default-fs);
  color: var(--main-purple);
  background: transparent;
  outline: none;
  transition-property: border, color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.crm__add-btn::before,
.crm__add-btn::after {
  content: "";
  position: absolute;
  left: 22px;
  width: 22px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity 0.2s ease;
}

.crm__add-btn::before {
  background-image: url('../images/add-client.svg');
  opacity: 1;
}

.crm__add-btn::after {
  opacity: 0;
}

.crm__add-btn:focus-visible::after {
  background-image: url('../images/add-client-white.svg');
  opacity: 1;
}

.crm__add-btn:active::after {
  background-image: url('../images/add-client-gray.svg');
  opacity: 1;
}

.crm__add-btn:focus-visible:not(:hover) {
  color: var(--white);
  background-color: var(--dark-purple);
}

.crm__add-btn:focus-visible:active {
  color: var(--gray);
}

.crm__add-btn:active {
  border: 1px solid var(--gray);
  color: var(--gray);
  background-color: transparent;
}

/* media queries, any-hover */

@media (any-hover: hover) {
  .crm__add-btn:hover:not(:active) {
    color: var(--white);
    background-color: var(--light-purple);
  }

  .crm__add-btn:hover::before {
    opacity: 0;
  }

  .crm__add-btn:hover:not(:active)::after {
    background-image: url('../images/add-client-white.svg');
    opacity: 1;
  }
}
