.crm__add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

.crm__add-btn-wrap {
  padding-bottom: 30px;
}

.crm__add-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border: 1px solid var(--main-purple);
  padding: 12px 25px;
  padding-right: 29px;
  min-width: 217px;
  font-family: var(--open-sans), sans-serif;
  font-weight: var(--semi-bold);
  font-size: var(--default-fs);
  color: var(--main-purple);
  background: transparent;
  outline: none;
  transition-property: border, color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.crm__add-btn-icon {
  position: absolute;
  top: 8px;
  left: 27px;
  font-size: 20px;
}

.crm__add-btn:focus-visible:not(:hover) {
  color: var(--white);
  background-color: var(--dark-purple);
}

.crm__add-btn:focus-visible:active {
  color: var(--gray);
}

.crm__add-btn:active {
  border: 1px solid var(--gray);
  color: var(--gray);
  background-color: transparent;
}

/* media queries, any-hover */

@media (any-hover: hover) {
  .crm__add-btn:hover:not(:active) {
    color: var(--white);
    background-color: var(--light-purple);
  }
}
