.crm__output-data {
  margin-bottom: 40px;
}

.crm__output-container {
  padding-right: 90px;
  padding-left: 90px;
}

.crm__output-title-wrap {
  display: flex;
  align-items: center;
  column-gap: 2px;
  margin-bottom: 12px;
}

.crm__output-title {
  font-weight: var(--semi-bold);
  font-size: 28px;
}

.crm__output-title-hash {
  font-weight: var(--semi-bold);
  font-size: 32px;
  line-height: 44px;
  color: var(--main-purple);
  cursor: pointer;
  transition: color var(--short) ease;
}

.crm__output-title-hash:focus-visible {
  color: var(--light-purple);
  outline: solid rgba(152, 115, 255, 0.5);
}

.crm__output-title-hash:active {
  color: var(--gray);
}

.crm__output-table-wrap {
  padding: 3px;
}

.crm__output-table {
  margin-bottom: 0;
  border-collapse: collapse;
  width: 100%;
  height: 363px;
  font-family: var(--open-sans), sans-serif;
  font-weight: var(--regular);
  background-color: var(--white);
  table-layout: fixed;
}

.crm__output-table tbody {
  display: table;
  width: 1180px;
}

.crm__output-table tr th {
  border: none;
  font-weight: var(--regular);
  color: var(--text-gray);
  background-color: var(--bg-page);
}

.crm__output-table tr th,
.crm__output-table tr td {
  vertical-align: middle;
  cursor: pointer;
}

.crm__output-table-body-empty-row {
  width: 100%;
  height: 65px;
  text-align: center;
}

.crm__output-table-body-empty-row td {
  width: 100%;
  text-align: center;
}

.table-hover tbody tr:not(.table-dark) {
  --bs-table-hover-bg: rgba(0, 0, 0, 0.02) !important;
}

.crm__output-table .crm__output-table-head-cell {
  padding: 8px 8px;
  text-align: start;
}

.crm__output-table #table-th-id,
.crm__output-table .crm__output-table-body-cell_id {
  padding-left: 20px;
  width: 95px;
}

.crm__output-table #table-th-fio,
.crm__output-table .crm__output-table-body-cell_fio {
  width: 360px;
}

.crm__output-table #table-th-dt,
.crm__output-table .crm__output-table-body-cell_crt-d-time {
  width: 195px;
}

.crm__output-table #table-th-change,
.crm__output-table .crm__output-table-body-cell_chg-d-time {
  width: 195px;
}

.crm__output-table #table-th-contact {
  cursor: default;
}

.crm__output-table #table-th-contact,
.crm__output-table .crm__output-table-body-cell_contacts {
  width: 130px;
}

.crm__output-table #table-th-action {
  cursor: default;
}

.crm__output-table-head-cell:focus-visible {
  outline: solid rgba(152, 115, 255, 0.5);
}

.head-cell__text,
.head-cell__icon,
.head-cell__sort {
  transition-property: color, opacity;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.head-cell__icon,
.head-cell__sort {
  opacity: 0.7;
}

.head-cell__text {
  margin-right: 2px;
}

.head-cell__icon {
  padding-right: 16px;
}

.head-cell-with-icon:focus-visible .head-cell__text {
  color: var(--main-purple);
}

.head-cell-with-icon:focus-visible .head-cell__icon {
  opacity: 1;
}

.head-cell-with-icon:focus-visible .head-cell__sort {
  opacity: 1;
}

.head-cell-with-icon:active .head-cell__text {
  color: var(--main-purple);
}

.head-cell-with-icon:active .head-cell__icon {
  opacity: 1;
}

.head-cell-with-icon:active .head-cell__sort {
  opacity: 1;
}

.head-cell__icon-up {
  background: url(../images/cell-arrow-up.svg) no-repeat 0px 1px / 17px;
}

.head-cell__icon-down {
  background: url(../images/cell-arrow-down.svg) no-repeat 0px 1px / 17px;
}

.head-cell__text-id {
  margin-right: 1px;
}

.head-cell__icon-fio {
  margin-right: 2px;
}

.head-cell__sort-fio {
  font-weight: var(--semi-bold);
  color: var(--main-purple);
}

.crm__output-table-body {
  color: var(--black);
}

.crm__output-table-body-row {
  border-bottom: 1px solid var(--text-gray);
  height: 65px;
  transition: border-bottom var(--short) ease;
}

.crm__output-table-body-row:focus-visible {
  outline: solid rgba(152, 115, 255, 0.5);
}

.crm__output-table-body-row .crm__output-table-body-cell_id {
  color: var(--text-gray);
}

.crm__output-table-body-cell_crt-date,
.crm__output-table-body-cell_chg-date {
  margin-right: 8px;
}

.crm__output-table-body-cell_crt-time,
.crm__output-table-body-cell_chg-time {
  color: var(--text-gray);
}

.crm__output-table-body-cell_contacts-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  gap: 1px 2px;
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 110px;
  max-width: 110px;
  list-style: none;
}

.crm__output-table-body-cell_contacts-empty-item,
.crm__output-table-body-cell_contacts-item {
  position: relative;
  padding: 2px;
  width: 20px;
  height: 20px;
  font-family: var(--open-sans), sans-serif;
  font-size: var(--default-fs);
  transition-property: color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.crm__output-table-body-cell_contacts-item:focus-within {
  border: none;
  border-bottom: 1px solid var(--light-purple);
  outline: none;
}

.crm__output-table-body-cell_contacts-item:focus-within .crm__output-table-body-cell_contacts-item-i {
  color: var(--dark-purple);
}

.table-row-contacts-icon {
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 14px;
  transition-property: color, opacity;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.crm__output-table-body-cell_contacts-empty-item-i {
  color: var(--bootstrap-red);
}

.crm__output-table-body-cell_contacts-item-i {
  color: var(--light-purple);
}

.crm__output-table-body-row .crm__output-table-body-cell_actions-btns {
  padding-left: 0;
}

.crm__output-table-body-cell_actions-btns-wrap {
  display: flex;
  justify-content: flex-start;
  column-gap: 5px;
}

.table-row-btn {
  margin: 0;
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
}

.crm__output-table-body-cell_actions-btn-edit,
.crm__output-table-body-cell_actions-btn-delete {
  display: flex;
  align-items: center;
  position: relative;
  padding: 2px 2px 0;
  padding-left: 29px;
  width: 100px;
  font-family: var(--open-sans), sans-serif;
  font-size: var(--default-fs);
  transition-property: color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.table-row-btn-icon {
  position: absolute;
  top: 2px;
  left: 12px;
  font-size: 14px;
  opacity: 0;
  transition-property: color, opacity;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.crm__output-table-body-cell_actions-btn-edit .crm__output-table-body-cell_actions-btn-edit-icon-pen {
  color: var(--light-purple);
  opacity: 0.7;
}

.crm__output-table-body-cell_actions-btn-edit:focus-visible:not(:hover) {
  color: var(--cold-purple);
}

.crm__output-table-body-cell_actions-btn-edit:focus-visible:active {
  color: var(--cold-purple);
}

.crm__output-table-body-cell_actions-btn-edit:active {
  color: var(--cold-purple);
}

.crm__output-table-body-cell_actions-btn-delete .crm__output-table-body-cell_actions-btn-delete-icon-x {
  color: var(--bootstrap-red);
  opacity: 0.7;
}

.crm__output-table-body-cell_actions-btn-delete:focus-visible:not(:hover) {
  color: var(--bootstrap-red);
}

.crm__output-table-body-cell_actions-btn-delete:focus-visible:active {
  color: var(--bootstrap-red);
}

.crm__output-table-body-cell_actions-btn-delete:active {
  color: var(--bootstrap-red);
}

/* media queries, any-hover */

@media (max-width: 1024px) {
  .crm__output-container {
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media (max-width: 768px) {
  .crm__output-container {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (max-width: 320px) {
  .crm__output-data {
    margin-bottom: 25px;
  }

  .crm__output-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .crm__output-title-wrap {
    margin-bottom: 2px;
    justify-content: center;
  }

  .crm__output-title {
    font-size: 22px;
  }

  .crm__output-title-hash {
    font-size: 28px;
    line-height: 40px;
  }

  .crm__output-table {
    height: 354px;
  }

  .crm__output-table-head {
    font-size: 11px;
    line-height: 12px;
  }

  .crm__output-table-body {
    font-size: 13px;
  }

  .crm__output-table-body-cell_id {
    font-size: 13px;
  }

  .crm__output-table-body-cell_actions-btn-edit,
  .crm__output-table-body-cell_actions-btn-delete {
    font-size: 13px;
  }
}

@media (any-hover: hover) {
  .crm__output-title-hash:hover:not(:active) {
    color: var(--light-purple);
  }

  .head-cell-with-icon:hover:not(:focus-visible):not(:active) .head-cell__text {
    color: var(--light-purple);
  }

  .head-cell-with-icon:hover .head-cell__icon {
    opacity: 1;
  }

  .head-cell-with-icon:hover .head-cell__sort {
    opacity: 1;
  }

  .crm__output-table-body-row:hover {
    border-bottom: 1px solid var(--main-purple);
  }

  .crm__output-table-body-cell_contacts-item-i:hover:not(:active) {
    color: var(--dark-purple);
  }


  .crm__output-table-body-cell_actions-btn-edit:hover:not(:active):not(:focus-visible) .crm__output-table-body-cell_actions-btn-edit-icon-pen {
    opacity: 0;
  }

  .crm__output-table-body-cell_actions-btn-edit:hover:not(:active):not(:focus-visible) .crm__output-table-body-cell_actions-btn-edit-icon-lap {
    color: var(--main-purple);
    opacity: 0.7;
  }

  .crm__output-table-body-cell_actions-btn-edit:hover:not(:active) {
    color: var(--light-purple);
  }

  .crm__output-table-body-cell_actions-btn-delete:hover:not(:active):not(:focus-visible) .crm__output-table-body-cell_actions-btn-delete-icon-x {
    opacity: 0;
  }

  .crm__output-table-body-cell_actions-btn-delete:hover:not(:active):not(:focus-visible) .crm__output-table-body-cell_actions-btn-delete-icon-lap {
    color: var(--bootstrap-red);
    opacity: 0.7;
  }

  .crm__output-table-body-cell_actions-btn-delete:hover:not(:active) {
    color: var(--bootstrap-red);
  }
}
