.crm__search-data {
  display: flex;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 40px;
  padding: 25px;
  background-color: var(--white);
  box-shadow: 0px 9.03px 27.09px 0px rgba(176, 190, 197, 0.32), 0px 3.386px 5.644px 0px rgba(176, 190, 197, 0.32);
}

.crm__search-logo-wrap {
  flex-shrink: 0;
  margin-right: 55px;
}

.crm__search-form-input-wrap {
  width: 100%;
  max-width: 580px;
}

.crm__search-input {
  border-radius: 0;
  min-height: 44px;
  caret-color: var(--main-purple);
}

/* media queries, any-hover */

@media (max-width: 992px) {
  .crm__search-logo-wrap {
    margin-right: 25px;
  }
}

@media (max-width: 320px) {
  .crm__search-data {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    padding: 10px;
  }

  .crm__search-logo-wrap {
    margin-right: 0;
  }

  .crm__search-logo-img {
    padding: 5px;
    cursor: pointer;
  }

  .crm__search-form-input-wrap {
    display: none;
  }

  .show-search-input .crm__search-form-input-wrap {
    display: block;
  }
}
