.crm__search-data {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 5px;
  min-height: 105px;
  background-color: var(--white);
  box-shadow: 0px 9.03px 27.09px 0px rgba(176, 190, 197, 0.32), 0px 3.386px 5.644px 0px rgba(176, 190, 197, 0.32);
}

.crm__search-container {
  display: flex;
  row-gap: 20px;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

.crm__search-logo-wrap {
  flex-shrink: 0;
  margin-right: 55px;
}

.crm__search-form-wrap {
  padding-top: 4px;
  width: 100%;
  max-width: 580px;
}

.crm__search-form .crm__search-input[type="text"] {
  font-family: var(--open-sans), sans-serif;
  font-weight: var(--semi-bold);
  font-size: var(--default-fs);
  color: var(--black);
}

.crm__search-form .crm__search-input::placeholder {
  color: var(--text-gray);
}

.crm__search-input {
  border-radius: 0;
  min-height: 44px;
  caret-color: var(--main-purple);
}

.crm__search-input:focus {
  border-color: var(--main-purple);
  outline: none;
  box-shadow: 0 0 0 .25rem rgba(152, 115, 255, .25);
}

/* media queries, any-hover */

@media (max-width: 992px) {
  .crm__search-logo-wrap {
    margin-right: 25px;
  }
}

@media (max-width: 320px) {
  .crm__search-data {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 12px;
    min-height: auto;
  }

  .crm__search-container {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .crm__search-logo-wrap {
    margin-right: 0;
  }

  .crm__search-logo-img {
    padding: 5px;
    cursor: pointer;
  }

  .crm__search-form-wrap {
    display: none;
  }

  .show-search-input .crm__search-form-wrap {
    display: block;
  }
}
