.tooltip {
  position: relative;
  border-radius: 0;
  padding: 5px 10px;
  font-family: var(--open-sans), sans-serif;
  font-size: 1em;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  /* оптимизация рендеринга (попытка исключить "легкое" размытие текста при появлении) */
  will-change: transform;
}

.tooltip .tooltip-inner {
  border-radius: 0;
  padding: 5px 10px;
  color: var(--white);
  background-color: var(--black);
}
