/* open-sans, light - 300 - cyrillic_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/open-sans-v40-cyrillic_latin-300.woff2") format("woff2");
}

/* open-sans, regular - 400 - cyrillic_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v40-cyrillic_latin-regular.woff2") format("woff2");
}

/* open-sans, medium - 500 - cyrillic_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/open-sans-v40-cyrillic_latin-500.woff2") format("woff2");
}

/* open-sans, semi bold - 600 - cyrillic_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/open-sans-v40-cyrillic_latin-600.woff2") format("woff2");
}

/* open-sans, bold - 700 - cyrillic_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v40-cyrillic_latin-700.woff2") format("woff2");
}

/* open-sans, extra bold - 800 - cyrillic_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v40-cyrillic_latin-800.woff2") format("woff2");
}
