.modal__dialog {
  position: relative;
  top: 220px;
  left: 25px;
}

.modal__content-wrap {
  border: none;
  border-radius: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 450px;
  outline: none;
}

.modal__header,
.modal__body,
.modal__footer {
  padding: 0;
}

.modal__header,
.modal__footer {
  border: none;
}

.modal__header {
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 17px;
}

.modal__header-title-wrap {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.modal__header-title {
  margin-right: 10px;
  font-weight: var(--bold);
  font-size: 18px;
  color: var(--black);
}

.modal__header-client-id {
  font-size: 12px;
  color: var(--text-gray);
}

.modal__header .modal__header-x-btn {
  position: relative;
  top: -12px;
  right: -7px;
  padding: 5px;
}

.modal__header .modal__header-x-btn:focus {
  box-shadow: 0 0 0 .25rem var(--bootstrap-red);
  opacity: .5;
}

.modal__body {
  margin-bottom: 1px;
}

.modal__body-form {
  display: flex;
  flex-direction: column;
}

.modal__body-form .modal-input {
  margin: 0;
  border-radius: 0;
  font-family: var(--open-sans), sans-serif;
  font-weight: var(--semi-bold);
  font-size: var(--default-fs);
  caret-color: var(--main-purple);
}

.modal-input::placeholder {
  color: var(--text-gray);
}

.modal-input:focus {
  border-color: var(--main-purple);
  box-shadow: 0 0 0 .25rem rgba(152, 115, 255, .25);
  outline: none;
}

.modal-input.is-invalid:focus {
  border-color: var(--bootstrap-red);
  box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25);
  outline: none;
}

.modal__body-inputs-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  margin-bottom: 23px;
  padding-right: 30px;
  padding-left: 30px;
}

.modal__body-inputs-wrap .modal__body-input {
  border: none;
  border-bottom: 1px solid var(--gray);
  padding: 5px 3px;
  height: 45px;
  min-height: 45px;
}

.modal__body-input:focus {
  border-color: var(--main-purple);
  /* тень только снизу */
  box-shadow: 0 .25rem 0 rgba(152, 115, 255, .25);
}

.modal__body-input.is-invalid:focus,
.was-validated .modal__body-input.form-control:invalid:focus {
  /* тень только снизу */
  box-shadow: 0 .25rem 0 rgba(220, 53, 69, .25);
}

.modal__body-input.form-control.is-valid:focus,
.was-validated .modal__body-input.form-control:valid:focus {
  /* тень только снизу */
  box-shadow: 0 .25rem 0 rgba(25, 135, 84, .25);
}

.modal__body-input-wrap .modal__body-input-label {
  top: -8px;
  left: -2px;
  padding-left: 1px;
  color: var(--text-gray);
}

.modal__body-label-span {
  font-size: 16px;
  color: var(--main-purple);
}

.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  color: var(--text-gray);
}

.modal-btn {
  margin: 0;
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
}

.modal__body-add-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border: none;
  padding: 10px 20px;
  min-width: 191px;
  font-family: var(--open-sans), sans-serif;
  font-weight: var(--semi-bold);
  font-size: var(--default-fs);
  transition-property: color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.modal__body-add-btn-icon {
  position: absolute;
  top: 10px;
  left: 22px;
  font-size: 15px;
  color: var(--main-purple);
  opacity: 0;
  transition: opacity var(--short) ease;
}

.modal__body-add-btn-icon.plus-circle-stroke {
  opacity: 1;
}

.modal__body-add-btn:focus-visible:not(:hover) {
  color: var(--cold-purple);
}

.modal__body-add-btn:focus-visible:active {
  color: var(--light-purple);
}

.modal__body-add-btn:active:not(:disabled) {
  color: var(--light-purple);
}

.modal__body-add-btn:disabled .modal__body-add-btn-icon {
  color: var(--gray);
}

.modal-contact-btn-margin {
  margin-bottom: 15px;
}

.modal__body-contacts-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 23px;
  width: 100%;
  background-color: rgba(200, 197, 209, .3);
}

.modal__body-contacts-row-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 15px;
  padding: 25px 30px 0 30px;
  width: 100%;
}

.modal__body-add-contact-select {
  position: relative;
  width: 120px;
  height: 37px;
  background-color: var(--select-gray);
}

.modal__body-add-contact-drop-btn {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 0;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  font-size: 12px;
  background: transparent;
  outline: none;
  /* попытка исключить не понятные мерцания кнопки */
  transform: translateZ(0);
  /* will-change: border-color, transform, opacity, box-shadow; */
  /* backface-visibility: hidden; */
  /* -webkit-font-smoothing: antialiased; */
}

.modal__body-add-contact-drop-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-image: url('../images/drop-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.1s ease;
  /* отработка клика и на arrow-icon */
  pointer-events: none;
}

.modal__body-add-contact-drop-btn:focus-visible,
.modal__body-add-contact-drop-btn:focus {
  border-color: var(--main-purple);
  box-shadow: 0 0 0 .25rem rgba(152, 115, 255, .25);
  z-index: 5;
}

.modal__body-add-contact-drop-btn:not(:focus-visible),
.modal__body-add-contact-drop-btn:not(:focus) {
  z-index: 3;
}

.modal__body-add-contact-drop-btn.arrow-rotate:focus-visible,
.modal__body-add-contact-drop-btn.arrow-rotate:focus {
  z-index: 6;
}

.modal__body-add-contact-drop-btn.arrow-rotate:after {
  transform: translateY(-50%) rotate(180deg);
}

.modal__body-add-contact-list {
  position: absolute;
  left: 0;
  top: 36px;
  margin: 0;
  border: 1px solid var(--gray);
  border-radius: 0;
  padding: 0;
  width: 100%;
  background: var(--option-gray);
  overflow: hidden;
  list-style-type: none;
  z-index: 4;
}

.modal__body-add-contact-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding: 4px 10px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.modal__body-add-contact-item.first-visible {
  padding-top: 9px;
}

.modal__body-add-contact-item.last-visible {
  padding-bottom: 5px;
}

.modal__body-add-contact-item:focus-visible {
  color: var(--main-purple);
}

.modal__body-add-contact-item:focus-visible:active {
  color: var(--text-gray);
}

.modal__body-add-contact-item:active {
  color: var(--text-gray);
}

.modal__body-add-contact-input {
  border: 1px solid var(--gray);
  border-radius: 0;
}

.modal__body-add-contact-input::placeholder {
  font-weight: var(--regular);
}

.modal__body-add-x-btn {
  position: relative;
  border: 1px solid var(--gray);
  border-radius: 0;
  width: 27px;
  background: var(--select-gray);
  outline: none;
  transition-property: border, color, box-shadow;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.modal__body-add-x-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: var(--gray);
  transition: color var(--short) ease;
}

.modal__body-add-x-btn:focus-visible:not(:active) {
  border-color: var(--bootstrap-red);
  box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25);
  z-index: 6;
}

.modal__body-add-x-btn:focus-visible:not(:active) .modal__body-add-x-btn-icon {
  color: var(--bootstrap-red);
}

.modal__body-add-x-btn:active:not(:focus-visible) {
  border-color: var(--gray);
  box-shadow: 0 0 0 .25rem rgba(200, 197, 209, 0.25);
  z-index: 6;
}

.modal__body-save-btn {
  align-self: center;
  margin-bottom: 5px;
  padding: 10px 35px;
  max-width: 150px;
  color: var(--white);
  background-color: var(--main-purple);
  transition-property: color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.modal__body-save-btn:focus-visible:not(:hover) {
  background-color: var(--dark-purple);
}

.modal__body-save-btn:focus-visible:active {
  background-color: var(--gray);
}

.modal__body-save-btn:active {
  background-color: var(--gray);
}

.modal__body-save-btn.custom-focus {
  background-color: var(--dark-purple);
}

.modal__footer {
  display: flex;
  flex-direction: column;
}

.modal__footer-cancel-btn {
  font-weight: var(--regular);
  text-decoration-line: underline;
}

.modal__footer-cancel-btn:focus-visible {
  color: var(--dark-purple);
}

.modal__footer-cancel-btn:focus-visible:active {
  color: var(--gray);
}

.modal__footer-cancel-btn:active {
  color: var(--gray);
}

/* media queries, any-hover */

@media (any-hover: hover) {
  .modal__body-add-btn:hover:not(:active):not(:disabled) .modal__body-add-btn-icon.plus-circle-stroke {
    opacity: 0;
  }

  .modal__body-add-btn:hover:not(:active):not(:disabled) .modal__body-add-btn-icon.plus-circle-fill {
    opacity: 1;
  }

  .modal__body-add-btn:hover:not(:active):not(:disabled) {
    color: var(--cold-purple);
  }

  .modal__body-add-contact-item:hover:not(:focus-visible):not(:active) {
    background-color: var(--select-gray);
  }

  .modal__body-add-contact-drop-btn:hover:after {
    transform: translateY(-50%) scale(1.2);
  }

  .modal__body-add-contact-drop-btn.arrow-rotate:hover:after {
    transform: translateY(-50%) rotate(180deg) scale(1.2);
  }

  .modal__body-add-x-btn:hover:not(:active) {
    border-color: var(--bootstrap-red);
    box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25);
    z-index: 10;
  }

  .modal__body-add-x-btn:hover:not(:active) .modal__body-add-x-btn-icon {
    color: var(--bootstrap-red);
  }

  .modal__body-save-btn:hover:not(:active) {
    background-color: var(--light-purple);
  }
}
