.modal__add-dialog {
  position: relative;
  top: 220px;
  left: 25px;
}

.modal__add-content-wrap {
  border: none;
  border-radius: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 450px;
  outline: none;
}

.modal__add-header,
.modal__add-body,
.modal__add-footer {
  padding: 0;
}

.modal__add-header,
.modal__add-footer {
  border: none;
}

.modal__add-header {
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 17px;
}

.modal__add-header-title {
  font-weight: var(--bold);
  font-size: 18px;
  color: var(--black);
}

.modal__add-header .modal__add-header-x-btn {
  position: relative;
  top: -12px;
  right: -7px;
  padding: 5px;
}

.modal__add-header .modal__add-header-x-btn:focus {
  box-shadow: 0 0 0 .25rem var(--bootstrap-red);
  opacity: .5;
}

.modal__add-body {
  margin-bottom: 1px;
}

.modal__add-body-form {
  display: flex;
  flex-direction: column;
}

.modal__add-body-inputs-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  margin-bottom: 23px;
  padding-right: 30px;
  padding-left: 30px;
}

.modal__add-body-inputs-wrap .modal__add-body-input {
  font-family: var(--open-sans), sans-serif;
  font-weight: var(--semi-bold);
  font-size: var(--default-fs);
}

.modal__add-body-inputs-wrap .modal__add-body-input {
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--gray);
  border-radius: 0;
  padding: 5px 3px;
  height: 45px;
  min-height: 45px;
  caret-color: var(--main-purple);
}

.modal__add-body-input:focus {
  border-color: var(--main-purple);
  /* тень только снизу */
  box-shadow: 0 .25rem 0 rgba(152, 115, 255, .25);
  outline: none;
}

.modal__add-body-input.is-invalid:focus {
  border-color: var(--bootstrap-red);
  /* тень только снизу */
  box-shadow: 0 .25rem 0 rgba(220, 53, 69, .25);
  outline: none;
}

.modal__add-body-input-wrap .modal__add-body-input-label {
  top: -8px;
  left: -2px;
  padding-left: 1px;
  color: var(--text-gray);
}

.modal__add-body-label-span {
  font-size: 16px;
  color: var(--main-purple);
}

.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  color: var(--text-gray);
}

.modal__add-body-add-contacts-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 23px;
  width: 100%;
  background-color: rgba(200, 197, 209, .3);
}

.modal__add-body-add-select-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 15px;
  padding: 25px 30px 0 30px;
  width: 100%;

}

.modal__add-btn {
  margin: 0;
  border: none;
  padding: 0;
  font-family: var(--open-sans), sans-serif;
  font-weight: var(--semi-bold);
  font-size: var(--default-fs);
  background: transparent;
  outline: none;
  overflow: hidden;
  transition-property: color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.modal__add-body-add-btn {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  min-width: 191px;
}

.modal__add-body-add-btn:focus-visible:not(:hover) {
  color: var(--main-purple);
}

.modal__add-body-add-btn:focus-visible:not(:hover) .stroke-add-modal-icon {
  opacity: 0;
}

.modal__add-body-add-btn:focus-visible:not(:hover) .fill-add-modal-icon {
  opacity: 1;
}

.modal__add-body-add-btn:focus-visible:active {
  color: var(--light-purple);
}

.modal__add-body-add-btn:active {
  color: var(--light-purple);
}

.modal__add-body-add-btn:active .stroke-add-modal-icon {
  opacity: 0;
}

.modal__add-body-add-btn:active .fill-add-modal-icon {
  opacity: 1;
}

.add-modal-btn-margin {
  margin-bottom: 15px;
}

.modal__add-body-btn-icon {
  position: absolute;
  left: 20px;
  width: 19px;
  height: 19px;
  transition: opacity var(--short) ease;
}

.stroke-add-modal-icon {
  background: url("../images/add-plus-stroke.svg") no-repeat center / contain;
  opacity: 1;
}

.fill-add-modal-icon {
  background: url("../images/add-plus-fill.svg") no-repeat center / contain;
  opacity: 0;
}


.modal__add-body-save-btn {
  align-self: center;
  margin-bottom: 5px;
  padding: 10px 35px;
  max-width: 150px;
  color: var(--white);
  background-color: var(--main-purple);
}

.modal__add-body-save-btn:focus-visible:not(:hover) {
  background-color: var(--dark-purple);
}

.modal__add-body-save-btn:focus-visible:active {
  background-color: var(--gray);
}

.modal__add-body-save-btn:active {
  background-color: var(--gray);
}

.modal__add-footer {
  display: flex;
  flex-direction: column;
}

.modal__add-footer-cancel-btn {
  font-weight: var(--regular);
  text-decoration-line: underline;
}

.modal__add-footer-cancel-btn:focus-visible {
  color: var(--dark-purple);
}

.modal__add-footer-cancel-btn:focus-visible:active {
  color: var(--gray);
}

.modal__add-footer-cancel-btn:active {
  color: var(--gray);
}

/* media queries, any-hover */

@media (any-hover: hover) {
  .modal__add-body-add-btn:hover:not(:active) {
    color: var(--main-purple);
  }

  .modal__add-body-add-btn:hover:not(:active) .stroke-add-modal-icon {
    opacity: 0;
  }

  .modal__add-body-add-btn:hover:not(:active) .fill-add-modal-icon {
    opacity: 1;
  }

  .modal__add-body-save-btn:hover:not(:active) {
    background-color: var(--light-purple);
  }
}
