:root {
  /* sizes */
  --page-min-width: 320px;
  --page-max-width: 1366px;
  --container-padding: 25px;

  /* fonts */
  --open-sans: "Open Sans";
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --default-fs: 14px;

  /* colors */
  --black: #333;
  --white: #fff;
  --bootstrap-red: #dc3545;
  --main-purple: #9873FF;
  --light-purple: #B89EFF;
  --dark-purple: #8052FF;
  --cold-purple: #7458c2;
  --specific-purple: #7B61FF;
  --gray: #C8C5D1;
  --text-gray: #B0B0B0;
  --specific-gray: #85859b;
  --bg-page: #F5F5F5;

  /* transitions */
  --short: 0.3s;
}
