:root {
  /* sizes */
  --page-min-width: 320px;

  /* fonts */
  --open-sans: "Open Sans";
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --default-fs: 14px;

  /* colors */
  --black: #333;
  --white: #fff;
  --main-purple: #9873FF;
  --text-gray: #B0B0B0;
  --specific-gray: #85859b;
  --bg-page: #F5F5F5;

  /* transitions */
  --short: 0.3s;
}
