.about {
  padding-top: 25px;
  padding-bottom: 50px;
}

.about__text {
  max-width: 1235px;
}

.about__cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.about__column {
  display: flex;
  flex-direction: column;
  width: calc(870 / 1770 * 100%);
}

.about__card {
  flex-grow: 1;
}

.about__card:not(:last-child) {
  margin-bottom: 32px;
}
