.card {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-light);
  border-radius: var(--main-radius);
  padding: 64px 116px 64px 60px;
  max-width: 870px;
  overflow: hidden;
  background-size: 0;
}

.card::before {
  content: "";
  flex-shrink: 0;
  margin-right: 50px;
  padding-top: calc(165 / (870 - 116 - 60) * 100%);
  width: calc(190 / (870 - 116 - 60) * 100%);
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: contain;
}

.card__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 29px;
}
