# Пример, параметров (от преподавателя):
# Данное указание, т.е. [*], "говорит", что это общие настройки (для всех, для любого типа файлов).
[*]

# Стандарт кодировки (можно не указывать), т.к. он и так, по default (в html).
charset = utf-8

# Не используем табуляцию, а иметируем: пробелами, т.е через: space.
indent_style = space

# => любимые парметры (преподавателя):
# Размер табуляции, в 2 пробела.
indent_size = 2

# Вставка "пустой" строки в конце файла, при сохранении.
insert_final_newline = true

# Удаление/затирание, не нужных пробелов.
trim_trailing_whitespace = true

[*.css]
# Вставка "пустой" строки в конце файла, при сохранении, т.е. для .css расширений => не нужна/false.
insert_final_newline = false
