.footer__container {
  position: relative;
  top: -85px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.footer__audio-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 160px;
  max-width: 650px;
}

.footer__audio-btn {
  position: relative;
  z-index: 2;
  border-radius: 50%;
  padding: 0px 3px;
  font-size: 0px;
  color: var(--light-gold);
  background-color: var(--light-bg);
  box-shadow: 0 0 0 2px var(--light-gold);
}

.footer__audio-btn:focus-visible {
  color: var(--dark-gold);
  background-color: var(--light-bg);
  box-shadow: 0 0 0 2px var(--dark-gold);
}

.footer__audio-btn:active {
  color: var(--dark-gold);
  background-color: var(--light-bg);
}

.footer__audio-btn_glow {
  z-index: 0;
  animation: glow 10s infinite ease-in-out;
}

.footer__audio-svg-play {
  padding-left: 7px;
  width: 65px;
  height: 65px;
}

.footer__audio-svg-x {
  width: 65px;
  height: 65px;
}

.hidden {
  display: none;
}

.footer__audio-player {
  position: relative;
  z-index: 1;
  margin-left: -18px;
  border: 2px solid var(--light-gold);
  border-radius: 28px;
  outline: none;
  transition: box-shadow var(--short) ease-in-out;
}

.footer__audio-player:focus-visible {
  border: 2px solid var(--dark-gold);
}

.footer__info-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 650px;
}

.footer__info-link {
  border-radius: 50%;
  padding: 0px 25px;
  font-weight: var(--bold);
  font-size: 56px;
  color: var(--light-gold);
  outline: none;
  box-shadow: 0 0 0 2px var(--light-gold);
  transition-property: color, box-shadow;
  transition-duration: var(--short);
  transition-timing-function: ease-in-out;
}

.footer__info-link:focus-visible {
  color: var(--dark-gold);
  box-shadow: 0 0 0 2px var(--dark-gold);
}

.footer__info-link:active {
  color: var(--dark-gold);
}

@media (any-hover: hover) {
  .footer__audio-btn:hover:not(:active) {
    color: var(--dark-gold);
    background-color: var(--light-bg);
    box-shadow: 0 0 0 2px var(--light-gold);
  }

  .footer__audio-btn:focus-visible:hover:not(:active) {
    color: var(--light-gold);
    box-shadow: 0 0 0 2px var(--dark-gold);
  }

  .footer__info-link:hover:not(:active) {
    color: var(--dark-gold);
  }

  .footer__info-link:focus-visible:hover:not(:active) {
    color: var(--light-gold);
  }
}
