.header {
  padding-bottom: 25px;
}

.game-header {
  padding-bottom: 5px;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 72px;
  text-align: center;
  text-shadow: 0 1px 10px var(--light-gold);
}

.game-title {
  font-size: 65px;
  text-shadow: 0 1px 10px var(--white);
}

@media (max-width: 1280px) {
  .header__title {
    font-size: 62px;
  }

  .game-title {
    font-size: 35px;
  }
}
