/* footer audio btn */

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 -5px 15px 2px var(--light-gold),
      0 5px 15px 2px var(--dark-gold);
  }
  12.5% {
    box-shadow: 5px -5px 15px 2px var(--light-gold),
      -5px 5px 15px 2px var(--dark-gold);
  }
  25% {
    box-shadow: 5px 0 15px 2px var(--light-gold),
      -5px 0 15px 2px var(--dark-gold);
  }
  37.5% {
    box-shadow: 5px 5px 15px 2px var(--light-gold),
      -5px -5px 15px 2px var(--dark-gold);
  }
  50% {
    box-shadow: 0 5px 15px 2px var(--light-gold),
      0 -5px 15px 2px var(--dark-gold);
  }
  62.5% {
    box-shadow: -5px 5px 15px 2px var(--light-gold),
      5px -5px 15px 2px var(--dark-gold);
  }
  75% {
    box-shadow: -5px 0 15px 2px var(--light-gold),
      5px 0 15px 2px var(--dark-gold);
  }
  87.5% {
    box-shadow: -5px -5px 15px 2px var(--light-gold),
      5px 5px 15px 2px var(--dark-gold);
  }
}
