.playfield {
  padding-top: 25px;
  padding-bottom: 5px;
}

.playfield__options-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playfield__options {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.playfield__options-item {
  border-bottom: 2px solid var(--dark-gold);
  padding: 1px 5px 0 5px;
  font-size: 115px;
  line-height: 100px;
  outline: none;
  cursor: pointer;
  transition-property: border-bottom, color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease-in-out;
}

.playfield__options-item_up {
  padding-bottom: 10px;
}

.playfield__options-item:focus-visible {
  border-bottom: 2px solid var(--white);
  color: var(--white);
  background-color: var(--light-gold);
}

.playfield__options-item:active {
  color: var(--white);
  background-color: var(--dark-gold);
}

.playfield__btn-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.playfield__btn {
  position: relative;
  z-index: 2;
}

@media (any-hover: hover) {
  .playfield__options-item:hover:not(:active) {
    border-bottom: 2px solid var(--white);
    color: var(--white);
    background-color: var(--light-gold);
  }

  .playfield__options-item:focus-visible:hover:not(:active) {
    border-bottom: 2px solid var(--dark-gold);
    color: var(--dark-gold);
  }
}
