.playfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playfield__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 72px;
  text-align: center;
  text-shadow: 0 1px 10px var(--light-gold);
}

.playfield-options {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.playfield-options__item {
  border-bottom: 2px solid var(--dark-gold);
  padding: 1px 5px 0 5px;
  font-size: 115px;
  line-height: 100px;
  outline: none;
  cursor: pointer;
  transition-property: border-bottom, color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease-in-out;
}

.playfield-options__item_up {
  padding-bottom: 10px;
}

.playfield-options__item:focus-visible {
  border-bottom: 2px solid var(--white);
  color: var(--white);
  background-color: var(--light-gold);
}

.playfield-options__item:active {
  color: var(--white);
  background-color: var(--dark-gold);
}

.playfield__btn-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

@media (any-hover: hover) {
  .playfield-options__item:hover:not(:active) {
    border-bottom: 2px solid var(--white);
    color: var(--white);
    background-color: var(--light-gold);
  }

  .playfield-options__item:focus-visible:hover:not(:active) {
    border-bottom: 2px solid var(--dark-gold);
    color: var(--dark-gold);
  }
}
