html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 1800px;
}

/* glob */
.container {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 0 15px;
  width: 1200px;
}

.title {
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 30px;
  color: grey;
}

.title-effect__1 {
  text-shadow: 0 1px 10px lightgreen;
}

.title-effect__2 {
  text-shadow: 0 1px 10px lightcoral;
}

.elements-wrapper {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 30px;
  width: 100%;
  height: auto;
  columns: 3;
  outline: 1px solid lightgrey;
}

.element {
  break-inside: avoid-column;
}

.subtitle {
  margin-bottom: 10px;
  padding-left: 5px;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 2px;
  text-shadow: 0 1px 10px lightslategray;
}

.subtitle-effect {
  text-shadow: 0 1px 10px lightcoral;
}

.block {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  text-align: justify;
}

/* property: columns and helper: break-inside */
.block-element__1 {
  background-color: lightblue;
}

.block-element__2 {
  background-color: lightgoldenrodyellow;
}

.block-element__3 {
  background-color: lightsteelblue;
}

.text {
  font-style: italic;
  font-size: 18px;
  text-align: center;
}

.text-effect__1 {
  text-shadow: 0 1px 10px lightgreen;
}

.text-effect__2 {
  text-shadow: 0 1px 10px lightcoral;
}
