.page {
  padding: 20px;
  font-family: "Roboto Mono", monospace;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  min-width: 150px;
  min-height: 225px;
  box-shadow: 1px 0 10px lightslategray;
}

.card__header {
  margin: 0;
}

.card__sub-header {
  position: relative;
}

.card__sub-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  top: 33px;
  right: 0;
  bottom: 0;
  left: -1px;
  border: 1px solid lightslategray;
  border-radius: 5px;
  background: no-repeat center / contain url("images/student-3.webp");
}
