.benefits {
  padding-top: 37px;
  padding-bottom: 79.5px;
}

.benefits__desc-wrap {
  margin-bottom: 24px;
}

.benefits__desc-group {
  display: flex;
  align-items: center;
  max-width: 775px;
  overflow: hidden;
  background-size: 0;
}

.benefits__desc-group::before {
  content: "";
  flex-shrink: 0;
  align-self: center;
  margin-right: 30px;
  padding-top: calc(150 / 775 * 100%);
  width: calc(160 / 775 * 100%);
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits__desc-title {
  margin-bottom: 16px;
  max-width: 380px;
}

.title-show {
  display: none;
}

.benefits__desc-text {
  max-width: 585px;
}

.benefits__list {
  flex-wrap: nowrap;
  gap: 30px;
  max-width: calc(1360 / 1440 * 100%);
}

.benefits__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 350px;
  font-weight: var(--bold);
  line-height: 120%;
}

.benefits__item_one {
  line-height: 117%;
}

.benefits__item_three p {
  margin-bottom: -2px !important;
}

.benefits__item svg {
  flex-shrink: 0;
  margin-right: 29px;
}

.show {
  display: none;
}

.text-show {
  display: none;
}

/* media queries */

@media (max-width: 991.98px) {
  .benefits {
    padding-top: 40px;
  }

  .benefits__desc-wrap {
    margin-bottom: 23px;
  }

  .benefits__desc-group {
    max-width: 690px;
  }

  .benefits__desc-group[style] {
    background-image: url("../img/benefits_icon_768.svg") !important;
  }

  .benefits__desc-group::before {
    margin-right: 29px;
    padding-top: calc(193 / 690 * 100%);
    width: calc(211 / 690 * 100%);
  }

  .benefits__desc-title {
    margin-bottom: 17px;
  }

  .benefits__desc-text {
    max-width: 450px;
  }

  .benefits__list {
    justify-content: space-between;
    max-width: 100%;
  }

  .benefits__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: calc(301 / 991 * 100%);
  }

  .benefits__item_one {
    line-height: 120%;
  }

  .benefits__item svg {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .hide {
    display: none;
  }

  .show {
    display: inline;
  }
}

@media (max-width: 696.98px) {
  .benefits {
    padding-bottom: 60px;
  }

  .benefits__desc-wrap {
    margin-bottom: 24px;
  }

  .benefits__desc-group {
    max-width: 510px;
  }

  .benefits__desc-group[style] {
    background-image: url("../img/benefits_icon_576.svg") !important;
  }

  .benefits__desc-group::before {
    margin-right: 29px;
    padding-top: calc(329 / 510 * 100%);
    width: calc(150 / 510 * 100%);
  }

  .benefits__desc-text {
    max-width: 100%;
  }

  .benefits__list {
    gap: 25px;
  }
}

@media (max-width: 536.98px) {
  .benefits {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .benefits__desc-wrap {
    margin-bottom: 23px;
  }

  .benefits__desc-group {
    max-width: 100%;
  }

  .benefits__desc-group::before {
    display: none;
  }

  .benefits__desc-title {
    margin-bottom: 2px;
    max-width: 100%;
    font-size: 20px;
    line-height: 130%;
  }

  .title-hide {
    display: none;
  }

  .title-show {
    display: inline;
  }

  .benefits__list {
    flex-direction: column;
    gap: 0;
  }

  .benefits__item {
    flex-direction: row;
    align-items: center;
    max-width: 100%;
  }

  .benefits__item:not(:last-child) {
    margin-bottom: calc(56 / 536 * 100%);
  }

  .benefits__item_three p {
    margin-bottom: 0px !important;
  }

  .benefits__item svg {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .benefits__item-text {
    max-width: calc(419 / 536 * 100%);
  }

  .text-hide {
    display: none;
  }

  .text-show {
    display: inline;
  }
}
