.benefits {
  padding-top: 37px;
  padding-bottom: 40px;
}

.benefits__desc-wrap {
  margin-bottom: 24px;
}

.benefits__desc-group {
  display: flex;
  align-items: center;
  max-width: 775px;
  min-height: 186px;
  overflow: hidden;
  background-size: 0;
}

.benefits__desc-group::before {
  content: "";
  flex-shrink: 0;
  align-self: center;
  margin-right: 30px;
  padding-top: calc(150 / 775 * 100%);
  width: calc(160 / 775 * 100%);
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits__desc-title {
  margin-bottom: 16px;
  max-width: 380px;
}

.benefits__desc-text {
  max-width: 585px;
}

.benefits__list {
  flex-wrap: nowrap;
  gap: 30px;
}

.benefits__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 350px;
  min-height: 80px;
  font-weight: var(--bold);
  line-height: 120%;
}

.benefits__item_one {
  line-height: 117%;
}

/* .benefits__item_three p {
  margin-bottom: -3px !important;
} */

.benefits__item svg {
  flex-shrink: 0;
  margin-right: 29px;
}

/* media queries */

@media (max-width: 991.98px) {
  .benefits {
    padding-top: 40px;
  }

  .benefits__desc-wrap {
    margin-bottom: 23px;
  }

  .benefits__desc-group {
    max-width: 690px;
    min-height: 234px;
  }

  .benefits__desc-group[style] {
    background-image: url("../img/benefits_icon_768.svg") !important;
  }

  .benefits__desc-group::before {
    margin-right: 29px;
    padding-top: calc(193 / 690 * 100%);
    width: calc(211 / 690 * 100%);
  }

  .benefits__desc-title {
    margin-bottom: 17px;
  }

  .benefits__desc-text {
    max-width: 450px;
  }

  .benefits__list {
    justify-content: space-between;
  }

  .benefits__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: calc(301 / 991 * 100%);
    min-height: 163px;
  }

  .benefits__item_one {
    line-height: 120%;
  }

  .benefits__item svg {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
