.courses {
  padding-top: 75px;
  padding-bottom: 80px;
  min-height: 1048px;
}

.courses__title {
  margin-bottom: 23px;
}

.courses__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}

.courses__list:not(:last-child) {
  margin-bottom: 30px;
}

.courses__item {
  display: flex;
  border-radius: var(--main-radius);
  /* max-width: 540px; */
  flex: 0 1 540px;
  overflow: hidden;
}
