.header {
  padding-top: 29px;
  padding-bottom: 30px;
  min-height: 80px;
  background-color: var(--main-blue);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 55px;
  width: 94px;
  min-height: 21px;
  outline: none;
}

.header__logo:focus-visible {
  outline: 3px solid var(--white);
  outline-offset: 6px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-title {
  margin-right: 80px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 56px;
  font-weight: var(--regular);
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}

.header__item-link {
  position: relative;
  outline: none;
}

.header__item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  transform: scaleX(0);
  transition: transform var(--short);
}

.header__item-link:focus-visible:not(:hover) {
  outline: 3px solid var(--white);
  outline-offset: 4px;
}

.header__item-link:active {
  color: var(--celestial);
}

.header__item-link:active::after {
  background-color: var(--celestial);
  transform: scaleX(1);
}

@media (any-hover: hover) {
  .header__item-link:hover:not(:active):after {
    height: 2px;
    transform: scaleX(1);
  }
}
