:root {
  /* sizes */
  --page-min-width: 320px;
  --container-max-width: 1190px;
  --container-padding: 40px;

  /* borders */
  --main-radius: 20px;

  /* fonts */
  --roboto: "Roboto";
  --regular: 400;
  --bold: 700;
  --default-fs: 16px;
  --default-lh: 24px;

  /* colors */
  --main-gray: #666;
  --main-blue: #3f2aff;
  --celestial: #e4e8f4;
  --plum: #2e2b44;
  --white: #fff;

  /* transitions */
  --short: 0.3s;
}
