.projects {
  padding-top: 25px;
  padding-bottom: 25px;
}

.projects__text {
  margin-bottom: 20px;
}

.transfer-text {
  display: none;
}

.projects__subtitle {
  margin-top: 0;
  margin-bottom: 11px;
  font-weight: var(--semibold);
  font-size: 18px;
}

.projects__subtitle:not(:last-of-type) {
  margin-bottom: 0;
}

/* media queries */

@media (min-width: 768px) {
  .projects {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .projects__text {
    margin-bottom: 28px;
  }

  .transfer-text {
    display: inline;
  }

  .projects__subtitle {
    margin-bottom: 29px;
    font-size: 24px;
  }
}

@media (min-width: 769px) {
  .transfer-text {
    display: none;
  }
}

@media (min-width: 1024px) {
  .projects__text {
    margin-bottom: 20px;
  }

  .projects__subtitle {
    margin-bottom: 16px;
  }
}

@media (min-width: 1366px) {
  .projects {
    padding-top: 39px;
    padding-bottom: 81px;
  }

  .projects__content-wrap {
    max-width: 1080px;
  }

  .projects__text {
    margin-bottom: 30px;
  }
}
