.courses {
  padding-bottom: 19px;
}

.courses__title {
  margin-bottom: 26px;
  padding-top: 47px;
  font-weight: var(--bold);
  font-size: 20px;
  line-height: 100%;
  color: var(--plum);
}

.courses__title:not(:first-of-type) {
  margin-bottom: 20px;
  padding-top: 0;
}

.courses__title:not(:last-of-type) {
  margin-bottom: 10px;
}

.courses__card-wrap {
  margin-bottom: 30px !important;
}

.courses__card {
  position: relative;
  border-radius: var(--main-radius);
  min-height: 653px;
  overflow: hidden;
}

.courses__card_offset {
  margin-bottom: 1px;
}

.courses__card-image {
  text-align: center;
  object-fit: contain;
}

.courses__card-info {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  padding-left: 29px;
  color: var(--white);
  background: url("../img/courses_card_clock.svg") no-repeat left / 24px;
}

.courses__card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 31px 30px 30px 30px !important;
  background: var(--card-bg);
}

.courses__card-content_second-card {
  padding-bottom: 29.5px !important;
}

.courses__card-content_third-card {
  padding-top: 30px !important;
  padding-bottom: 29.5px !important;
}

.courses__card-content_fourth-card {
  padding-top: 32px !important;
  padding-bottom: 31px !important;
}

.courses__card-title {
  margin-bottom: 8px;
  font-weight: var(--bold);
  font-size: 18px;
  line-height: 130%;
  color: var(--plum);
}

.courses__card-btn {
  margin-top: auto;
  padding: 20px 55px 19px 55px;
}

.courses__card-btn:focus-visible {
  color: var(--celestial);
  background-color: var(--plum);
}

.courses__card-btn:active {
  color: var(--celestial) !important;
  background-color: var(--plum) !important;
}

.courses__card-content_second-card .courses__card-btn {
  padding-top: 20.5px;
}

.courses__card-content_third-card .courses__card-btn {
  padding-top: 20.5px;
  padding-right: 56px;
}

/* media queries */

@media (min-width: 576px) {
  .courses {
    padding-bottom: 50px;
  }

  .courses__title {
    margin-bottom: 23px;
    padding-top: 74px;
    font-size: 40px;
  }

  .courses__card-wrap {
    margin-bottom: 29.5px !important;
  }

  .courses__card-info {
    top: 10.5px;
    right: 11px;
    padding-left: 28px;
  }

  .courses__card {
    min-height: 654px;
  }

  .courses__card-three,
  .courses__card-four {
    min-height: 652px;
  }

  .courses__card-content {
    padding-right: 22px !important;
    padding-bottom: 30.5px !important;
  }

  .courses__card-content_third-card {
    padding-top: 30.5px !important;
    padding-bottom: 29px !important;
  }

  .courses__card-content_fourth-card {
    padding-top: 32.5px !important;
    padding-bottom: 30px !important;
  }

  .courses__card-content_fourth-card .courses__card-title {
    margin-bottom: 9px;
  }

  .courses__card-btn {
    padding-right: 47px;
    padding-left: 48px;
  }

  .courses__card-content_third-card .courses__card-btn {
    padding-right: 48px;
  }
}

@media (min-width: 768px) {
  .courses__card-wrap {
    margin-bottom: 30.5px !important;
  }

  .courses__card {
    min-height: 556px;
  }

  .courses__card-three,
  .courses__card-four {
    min-height: 555px;
  }

  .courses__card-content {
    padding-top: 32px !important;
    padding-bottom: 29.5px !important;
  }

  .courses__card-content_third-card {
    padding-bottom: 30px !important;
  }

  .courses__card-content_fourth-card {
    padding-bottom: 30.5px !important;
  }

  .courses__card-title {
    margin-bottom: 10px;
  }

  .courses__card-btn {
    padding-right: 55px;
    padding-left: 55px;
  }

  .courses__card-content_third-card .courses__card-btn {
    padding-right: 55px;
  }
}

@media (min-width: 992px) {
  .courses {
    padding-bottom: 51px;
  }

  .courses__title {
    margin-bottom: 24px;
  }

  .courses__card-wrap {
    margin-bottom: 29.5px !important;
  }

  .courses__card {
    min-height: 480px;
  }

  .courses__card-three,
  .courses__card-four {
    min-height: 479px;
  }

  .courses__card-info {
    right: 5.5px;
  }

  .courses__card-content {
    padding-bottom: 30.5px !important;
    padding-left: 29px !important;
  }

  .courses__card-content_second-card {
    padding-bottom: 30px !important;
  }

  .courses__card-content_third-card {
    padding-top: 32.5px !important;
    padding-bottom: 29px !important;
  }

  .courses__card-content_fourth-card {
    padding-top: 33.5px !important;
    padding-bottom: 29.5px !important;
  }

  .courses__card-title {
    margin-bottom: 9px;
    margin-left: 1px;
  }

  .courses__card-content_fourth-card .courses__card-title {
    margin-bottom: 8px;
  }

  .courses__card-btn {
    padding-right: 59px;
    padding-left: 59px;
  }

  .courses__card-content_third-card .courses__card-btn {
    padding-right: 59px;
  }
}
