img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none !important;
}

.page {
  min-width: var(--page-min-width);
  /* height: auto; */
  height: 3000px;
  font-family: var(--roboto), sans-serif;
  font-size: var(--default-fs);
  line-height: var(--default-lh);
  color: var(--main-gray);
  background-color: var(--white);
}

.page__title {
  margin-bottom: 20px;
  font-weight: var(--bold);
  text-align: center;
}

.title-color {
  color: var(--main-blue);
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.text:not(:last-of-type) {
  margin-bottom: 0 !important;
  padding-top: 5px !important;
  padding-bottom: 12px !important;
}

.company {
  display: block;
  margin-left: -2px;
  font-size: 13px;
  font-weight: var(--regular);
  line-height: 167%;
  color: var(--plum);
  text-align: center;
  text-transform: uppercase;
}

.unicode {
  color: var(--main-blue);
}
