a {
  text-decoration: none !important;
}

.page {
  min-width: var(--page-min-width);
  /* height: auto; */
  height: 3000px;
  font-family: var(--roboto), sans-serif;
  font-size: var(--default-fs);
  line-height: var(--default-lh);
  color: var(--main-gray);
  background-color: var(--white);
}

.page__title {
  margin-bottom: 20px;
  font-weight: var(--bold);
  text-align: center;
}

.title-color {
  color: var(--main-blue);
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* ! может что-то не нужно, т.е. вообще не использовалось..?? */

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}

.section-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: var(--bold);
  font-size: 40px;
  line-height: 40px;
  color: var(--plum);
}

.text {
  margin-top: 0;
  margin-bottom: 30px;
}

.text:last-child {
  margin-bottom: 0;
}

.company {
  display: block;
  margin-left: -2px;
  font-size: 13px;
  font-weight: var(--regular);
  line-height: 167%;
  color: var(--plum);
  text-align: center;
  text-transform: uppercase;
}

.unicode {
  color: var(--main-blue);
}
