.header {
  background-color: var(--main-blue);
}

.header__nav-title {
  margin-right: 80px;
}

.header__logo:focus-visible {
  outline: 2px solid var(--celestial);
  outline-offset: 4px;
}

.header__list {
  font-weight: var(--regular);
  font-size: 18px;
  line-height: 20px;
  color: var(--white);
}

.header__item-link {
  color: inherit;
}

.header__burger .header__burger-icon {
  width: 1.2em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header__burger-icon {
  transition: rotate var(--short) ease-in-out;
}

/* media queries */

@media (min-width: 576px) {
  .header__logo img {
    width: 94px;
    height: 21px;
  }

  .header__list-wrap {
    margin-bottom: -1px;
  }
}

@media (min-width: 768px) {
  .header__list-wrap {
    margin-bottom: 0;
  }
}

@media (any-hover: hover) {
  .header__burger .header__burger-icon:hover {
    rotate: 90deg;
    transform-origin: center;
  }
}
