.hero {
  background: radial-gradient(
    49% 49% at 67.78% 84.57%,
    #555681 0%,
    #2e2b44 100%
  );
}

.hero__content-title {
  padding-top: 2px;
  max-width: 75%;
  font-weight: var(--bold);
  font-size: 30px;
  line-height: 30px;
  color: var(--white);
}

.hero__content-text {
  font-weight: var(--regular);
  font-size: var(--default-fs);
  line-height: 21px;
  color: var(--white);
}

.hero__content-text:last-of-type {
  margin-bottom: 30px;
}

.hero__btn {
  margin-top: -2.2px;
  margin-bottom: 2px;
  border-radius: var(--main-radius);
  border-color: transparent !important;
  padding: 20px 53px 19px 53px;
  font-family: var(--roboto), sans-serif;
  font-weight: var(--bold);
  font-size: var(--default-fs);
  line-height: var(--btn-lh);
  color: var(--white);
  background-color: var(--main-blue);
  outline: none !important;
  box-shadow: none !important;
  transition-property: color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease-in-out;
}

.hero__btn:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.hero__btn:focus-visible {
  color: var(--plum);
  background-color: var(--celestial);
}

.hero__btn:active {
  color: var(--plum) !important;
  background-color: var(--celestial) !important;
}

.hero__cube {
  top: -1px;
  right: 5px;
  margin-right: calc(10% - 32px);
  width: 112px;
  height: 95px;
  background: url("../img/hero_bg_320.png") no-repeat center / contain;
}

/* media queries */

@media (min-width: 576px) {
  .hero__content {
    min-height: 543px;
  }

  .hero__content-title {
    padding-top: 5px;
    max-width: 100%;
    font-size: 50px;
    line-height: 50px;
  }

  .hero__content-text {
    font-size: 18px;
    line-height: 27px;
  }

  .hero__btn {
    margin-bottom: 0;
    padding: 24px 75px 22px 75px;
    font-size: 18px;
    line-height: 21px;
  }

  .hero__cube {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hero__content {
    min-height: 572px;
  }

  .hero__content-title {
    padding-top: 35px;
  }

  .hero__content-text {
    margin-top: -1px;
  }

  .hero__image {
    width: 100%;
  }

  .hero__image::before {
    content: "";
    display: inherit;
    padding-top: 177%;
    width: inherit;
    background: url("../img/hero_bg_768.png") no-repeat center / contain;
  }
}

@media (min-width: 992px) {
  .hero__content {
    min-height: 578px;
  }

  .hero__content-title {
    padding-top: 41px;
    padding-bottom: 3px;
    font-size: 60px;
    line-height: 60px;
  }

  .hero__btn {
    margin-top: -1.2px;
    margin-left: 2px;
    padding: 24px 75px 22.5px 75px;
  }

  .hero__image::before {
    margin-bottom: -9px;
    margin-left: 2px;
    padding-top: 100%;
    background: url("../img/hero_bg_1440.png") no-repeat center / contain;
  }
}

@media (any-hover: hover) {
  .hero__btn:hover:not(:active) {
    background-color: var(--light-blue);
  }
}
