.teachers {
  padding-bottom: 19px;
  background: var(--dark);
}

.teachers__title {
  display: inline-block;
  margin-top: 47px;
  margin-bottom: 27px;
  font-weight: var(--bold);
  font-size: 20px;
  line-height: 100%;
  color: var(--white);
  outline: none;
}

.teachers__title:not(:first-of-type) {
  margin-top: 0;
  margin-bottom: 20px;
}

.teachers__title:not(:last-of-type) {
  margin-bottom: 15px;
}

.teachers__title:focus-visible:not(:hover) {
  outline: 2px solid var(--white);
  outline-offset: 6px;
}

.teachers__title:active {
  color: var(--celestial);
}

.teachers__card-wrap {
  margin-bottom: 23px !important;
}

.teachers__card {
  border-top-left-radius: calc(47 / 575 * 100%);
  border-top-right-radius: calc(47 / 575 * 100%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: transparent;
  overflow: hidden;
}

.teachers__card-image {
  margin-bottom: 31px;
  text-align: center;
  object-fit: contain;
  box-shadow: 0 1px 10px var(--specific-gray);
}

.teachers__card-title {
  display: inline-block;
  margin-bottom: 7px;
  font-weight: var(--bold);
  font-size: 18px;
  line-height: 150%;
  color: var(--white);
  outline: none;
}

.teachers__card-title:focus-visible:not(:hover) {
  margin-left: 10px;
  outline: 2px solid var(--white);
  outline-offset: 5px;
}

.teachers__card-title:active {
  color: var(--celestial);
}

.teachers__card-text {
  font-weight: var(--regular);
  line-height: 150%;
  color: var(--specific-gray);
}

/* media queries */

@media (min-width: 576px) {
  .teachers {
    padding-bottom: 51px;
  }

  .teachers__title {
    margin-top: 73px;
    margin-bottom: 24px;
    font-size: 40px;
  }

  .teachers__card {
    border-top-left-radius: calc(63 / 767 * 100%);
    border-top-right-radius: calc(63 / 767 * 100%);
  }
}

@media (min-width: 768px) {
  .teachers {
    padding-bottom: 27px;
  }

  .teachers__title:focus-visible:not(:hover) {
    outline: 3px solid var(--white);
    outline-offset: 7px;
  }

  .teachers__card {
    border-top-left-radius: calc(63 / 991 * 100%);
    border-top-right-radius: calc(63 / 991 * 100%);
  }

  .teachers__card-title:focus-visible:not(:hover) {
    outline: 3px solid var(--white);
    outline-offset: 6px;
  }
}

@media (min-width: 992px) {
  .teachers {
    padding-bottom: 50px;
  }

  .teachers__title {
    margin-top: 74px;
  }

  .teachers__card {
    border-top-left-radius: calc(118 / 1439 * 100%);
    border-top-right-radius: calc(118 / 1439 * 100%);
  }
}
